<template>
<div>
    <notifications group="foo" />
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center">

            <h1 class="logo me-auto"><a href="/">DevMyEssay</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="/">Home</a></li>
                    <li v-if="auth==='yes'"><router-link :to="{name:'home'}" class="nav-link  " href="#">Dashboard</router-link></li>
                    <li><a class="nav-link scrollto" href="#about">About</a></li>
                    <li><a class="nav-link scrollto" href="#services">Services</a></li>
                    <!--<li><a class="nav-link   scrollto" href="#portfolio">Portfolio</a></li>-->
                    <li><a class="nav-link scrollto" href="#team">Testmonial</a></li>
                    <!--<li><a class="nav-link scrollto" href="#contact">Contact</a></li>-->
                    <li><a  class="getstarted scrollto" href="/ordering">Place order</a></li>
                    <li v-if="auth==='yes'" class="dropdown"><a href="#"><span class="text-info">{{name}}</span> <i class="fa fa-user"></i></a>
                        <ul>
                            <li><router-link :to="{name:'profile'}" href="#">Profile</router-link></li>
                            <li><router-link :to="{name:'profile'}" href="#">Wallet- $ {{formatPrice(wallet)}}</router-link></li>
                            <li><a v-on:click="logout()" href="#">Logout</a></li>
                        </ul>
                    </li>
                    <li v-if="auth!=='yes'" class="dropdown"><a href="#"><span class="text-info">Account</span> <i class="fa fa-user"></i></a>
                        <ul>
                            <li><router-link :to="{name:'login'}" href="#">Sign in</router-link></li>
                        </ul>
                    </li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->


    <transition name="fade">
        <router-view></router-view>

    </transition>
    <!-- ======= Footer ======= -->

</div>
</template>
<style>
    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s
    }
    .fade-enter, .fade-leave-active {
        opacity: 0
    }
</style>
<script>
    export default {
        data() {
            return {
                name:'',
                wallet:'',
                auth:'',
            }
        },
        created(){
            this.name=localStorage.getItem('name');
            this.wallet=localStorage.getItem('wallet');
            this.auth=localStorage.getItem('auth');
        },
        watch:{
            '$route' (to, from) {
                this.name=localStorage.getItem('name');
                this.wallet=localStorage.getItem('wallet');
                this.auth=localStorage.getItem('auth');
            }
        },
        methods: {
            logout() {
                localStorage.removeItem('token');
                localStorage.removeItem('auth');
                this.$router.push({name: 'login'});
            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            }
        }
    }
</script>
