<template>
    <div class="mb-5 container">
        <br/>
        <br/>
        <br/>
        <br/>
<Navbar></Navbar>
        <div class="content">
        <div class="container graph">
            <div class="row justify-content-center">
                <div class="col-8">
                            <canvas id="chLine"></canvas>
                </div>
            </div>
        </div>

    </div>
    </div>

</template>
<script>
    import  Navbar from '../view/navbar'
    export default {
        name: 'App',
        components: {
            Navbar
        },
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                completed:'',
                inprogress:'',
                revised:'',
                pending:'',
                onhold:'',
                discount:'',
                wallet:'',
                notification:[],
            }
        },
        created() {
            this.loadNotif();
            setTimeout(() => {
                this.loaddata();
            }, 1000);
        },
        methods: {
            loadchart(){
                var chartData = {
                    labels: ["Pending", "In progress", "Revision", "Completed", "Onhold"],
                    datasets: [{
                        label: 'Orders',
                        data: [this.pending, this.inprogress, this.revised, this.completed, this.onhold],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                    },]
                };


                var chLine = document.getElementById("chLine");
                if (chLine) {
                    new Chart(chLine, {
                        type: 'polarArea',
                        data: chartData,
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            },
                            legend: {
                                display: false
                            }
                        }
                    });
                }
            },
            loaddata(){
                $('.graph').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/client/getOrderData`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then(response => {
                    this.completed = response.data.completed;
                    this.inprogress = response.data.inprogress;
                    this.revised = response.data.revised;
                    this.pending = response.data.pending;
                    this.onhold = response.data.onhold;
                    this.discount = response.data.discount;
                    this.wallet = response.data.wallet;
                    this.loadchart();
                    $('.graph').loader('hide');
                }).catch(error => {
                    $('.graph').loader('hide');
                    if (error.response.status === 401) {
                        localStorage.removeItem('auth');
                        this.$router.push({name: 'login'});
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });
            },
            loadNotif(){
                let uri =this.proxyUrl+`api/auth/notifications`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then(response => {
                    this.notification = response.data.notif;
                }).catch(error => {
                    if (error.response.status === 401) {
                        localStorage.removeItem('auth');
                        this.$router.push({name: 'login'});
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });
            },
            chat(id){
                this.$router.push({name: 'chat',params: { id: id }});
            },

        }
    }
</script>
