<template>
<div>

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                    <h1>Developing High Quality Essay</h1>
                    <h2>DevMyEssay has writers and researchers from all academic fields who work diligently in order to meet the requirements of orders.</h2>
                    <div class="d-flex justify-content-center justify-content-lg-start">
                        <a  href="/ordering" class="btn-get-started scrollto">Place order</a>
                        <router-link :to="{name:'login'}" href="#" class=" btn-watch-video"><i class="bi bi-arrow-90deg-right"></i><span>Sign in</span></router-link>
                    </div>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                    <img src="/assets/img/hero-img.png" class="img-fluid animated" alt="">
                </div>
            </div>
        </div>

    </section><!-- End Hero -->


    <!-- ======= About Us Section ======= -->
    <section id="about" class="">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2>About Us</h2>
            </div>

            <div class="row ">
                <div class="col-lg-6">
                    <p>
                        Devmyessay.com has been established mainly to provide quality research papers to those who are in most in need of them. Ever since we started our operations, our experts have consistently helped clients achieve their desired results. We can proudly say that we are
                        one of the few online research companies that have delivered solid results year in and year out.
                    </p>
                    <p>
                        Devmyessay.com has a team of dedicated writers whose sole purpose is to render all the assistance possible for clients who are in a compromised academic position. Our experts have all the necessary qualifications needed to render quality academic assistance-they are Master's and PhD degree holders, they have had significant experience writing all types of academic papers,
                        and they are native English speakers who are also able to write in perfect English.
                    </p>
                    <p>We understand that a lot of factors affect our client’s productivity, especially in terms of producing their quality researched paper. Overlapping deadlines, inability to start doing assignments, lack of time, and limited knowledge are just some of the frequently cited factors that affect such. It is for these reasons that we have devised a way on how to effectively help our clients
                        who need research and assignment papers quickly.</p>
                    <p>We have continually refined our services to meet all your needs. We offer academic paper writing of every type-dissertations, essays, coursework, research paper, theses, and a whole lot more. We abide by the tenets of quality academic writing and
                        adhered to the strictest academic standards of excellence.</p>
                    <!--<ul>-->
                        <!--<li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>-->
                    <!--</ul>-->
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0">
                    <div class="container center">
                        <div class="card">
                            <h6>Price Estimates</h6>
                            <hr/>
                            <div class="container mt-3">
                                <form>
                                <div class="form-group mb-2">
                                <select class="form-control" id="typeofservice_id" v-model="message.typeofservice_id" required  v-on:change="loadAcademics()">
                                    <option v-for="country in services" :key="country.id" v-bind:value="country.id" >{{country.name}}
                                    </option>
                                </select>
                                </div>
                                <div class="form-group mb-2">
                                <select class="form-control"  id="subject_id" v-model="message.subject_id" required v-on:change="subjectarea()">
                                    <option v-for="country in subjects" :key="country.id" v-bind:value="country.id" >{{country.name}}
                                    </option>
                                </select>
                                </div>
                                <div class="form-group mb-2">
                                <select  class="form-control" id="academic_id" v-model="message.academic_id" required v-on:change="academicsval()">
                                    <option v-for="country in academics" :key="country.id" v-bind:value="country.id" >{{country.name}}
                                    </option>
                                </select>
                                </div>

                                        <div class="col-sm-12 col-sm-12 mb-2">
                                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                <label class="btn btn-secondary active" @click="switchPages(1,'double')">
                                                    <input type="radio" value="double" checked style="display: none;" v-model="message.pagespacing" id="double"  checked> <span class="fs-16">Double</span>
                                                </label>
                                                <label class="btn btn-secondary " @click="switchPages(2,'single')">
                                                    <input type="radio" value="single" checked style="display: none;" v-model="message.pagespacing" id="single" > <span class="fs-16">Single</span>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="form-group mb-2">
                                            <select  class="form-control"  data-init-plugin="select2" id="pages"  v-model="message.pages" required v-on:change="calPages()">
                                                <option v-for="country in pages" :key="country" v-bind:value="country">{{country}} {{message.page_prefix}} /{{message.page_math * 275 * country}}</option>
                                            </select>
                                        </div>

                                        <div  class="form-group mb-3">
                                            <select  class="form-control"  id="agency_id" v-model="message.agency_id" required v-on:change="calcAgency()">
                                                <option v-for="country in agencys" :key="country.id" v-bind:value="country.id">{{country.value}} {{country.prefix}}
                                                </option>
                                            </select>
                                        </div>

                                    <hr>
                                    <div class="col-lg-12 mb-3">
                                        <div class="row justify-content-center">
                                            <div class="col-sm-6">
                                                <span class="">{{message.discount}} % off <s>${{formatPrice(message.total)}}</s></span>
                                            </div>
                                            <div class="col-sm-6">
                                                <strong><span class="amount">{{prefix}} {{formatPrice(amount_to_pay)}}</span></strong>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 mb-3">
                                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                            <label class="btn btn-secondary active" @click="convertCurrency('$',rates.USD)">
                                                <input type="radio"  id="USD" style="display: none;" checked> <span class="fs-16">USD</span>
                                            </label>
                                            <label class="btn btn-secondary " style="display: none;" @click="convertCurrency('€',rates.EUR)">
                                                <input type="radio"   id="EUR" style="display: none;"> <span class="fs-16">EUR</span>
                                            </label>
                                            <label class="btn btn-secondary " @click="convertCurrency('£',rates.GBP)">
                                                <input type="radio"   id="GBP" style="display: none;"> <span class="fs-16">GBP</span>
                                            </label>
                                            <label class="btn btn-secondary " @click="convertCurrency('A$',rates.AUD)">
                                                <input type="radio"   id="AUD" style="display: none;"> <span class="fs-16">AUD</span>
                                            </label>
                                            <label class="btn btn-secondary "  @click="convertCurrency('C$',rates.CAD)">
                                                <input type="radio"   id="CAD" style="display: none;"> <span class="fs-16">CAD</span>
                                            </label>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <a href="/ordering" class="btn btn-info btn-block">Proceed</a>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>

                    <!--<a href="#" class="btn-learn-more">Learn More</a>-->
                </div>
            </div>

        </div>
    </section><!-- End About Us Section -->





    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Services</h2>
                <p class="mb-2">
                    Did you know that here at DevMyEssay, we provide a full range of writing services for students just like you? We
                    know how hard it can be to fit everything in; studying, working, and socialising. It can get especially tough when you factor in tight deadlines and tons
                    of research. In short, being a student is tough – and we know that
                </p>

            <div class="row">

                <div class="col-xl-3 col-md-6 d-flex align-items-stretch mb-2" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-file"></i></div>
                        <h4><a href="">Thesis Writing</a></h4>
                        <p>Sometimes, the hardest part of the essay is generating the right thesis. We can do this for you. Whether you want just the
                            thesis or the full essay behind it, we can do that. </p>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0 mb-2" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-file"></i></div>
                        <h4><a href="">Dissertation Writing</a></h4>
                        <p>A dissertation is arguably the most important essay you will write as a student. Accounting for up to 60% of your final grade, a good dissertation is essential.
                            Give us your thesis, or let us generate one for you! </p>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 mb-2" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-file"></i></div>
                        <h4><a href="">Essay Writing</a></h4>
                        <p>Need a literary essay? An argumentative essay? A comparison essays? Any essay? We’ve got you covered!. </p>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 mb-2" data-aos="zoom-in" data-aos-delay="400">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-layer"></i></div>
                        <h4><a href="">Research Papers</a></h4>
                        <p>This is perhaps the most time-consuming paper. All that research! And of course, there’s the bibliography and
                            citations to worry about. Relax and let us worry for you. </p>
                    </div>
                </div>


            </div>





                <div class="row">

                    <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bxl-file"></i></div>
                            <h4><a href="">Admissions Essays</a></h4>
                            <p>With the competition to get onto your chosen course so fierce, why risk missing out on the course of your dreams down to a bad admissions essay?
                                Our team know what admissions staff are looking for – and we always deliver. . </p>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bx-file"></i></div>
                            <h4><a href="">Maths and Science Assignments</a></h4>
                            <p>We don’t just write papers, although we can write papers on the theories behind mathematical and scientific principles.
                                We can also do your calculations for you.  </p>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bx-file"></i></div>
                            <h4><a href="">Editing</a></h4>
                            <p>Editing is one of the most important stages of writing your paper, and it’s something that is often overlooked. Often because it is harder than it seems, and people often have no idea where to start. If you have written your own
                                assignment, we can edit it for you; we will improve the flow and strength any weak points !. </p>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bx-layer"></i></div>
                            <h4><a href="">Proofreading</a></h4>
                            <p>Have you written and edited your own paper? Don’t forget to proof read it. You can lose crucial marks based on your spelling, punctuation and grammar. Let us fix it for you to really make your work pop. </p>
                        </div>
                    </div>


                </div>
        </div>
        </div>
    </section><!-- End Services Section -->

    <section id="cta" class="cta">
        <div class="container" data-aos="zoom-in">

            <div class="row justify-content-center">
                <div class="col-lg-9 text-center text-lg-start">
                    <h3>WHY CHOOSE US</h3>
                    <p>Professional writers in all research areas</p>
                    <p>Short time notice delivery</p>
                    <p>Wide range of services available</p>
                    <p>10+ years working experience</p>
                    <p>100% Privacy guaranteed</p>
                    <p>100% Customer satisfaction</p>
                </div>
                <div class="col-lg-3 cta-btn-container text-center">
                    <a class="cta-btn align-middle" href="/ordering">Place Order</a>
                </div>
            </div>

        </div>
    </section><!-- End Cta Section -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Pricing</h2>
                <!--<p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>-->
            </div>

            <div class="row">

                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="box">
                        <h3>Free Features</h3>
                        <h4><sup>$</sup>{{formatPrice(sum)}}<span>Free</span></h4>
                        <ul>
                            <li v-for="country in free" :key="country.id"><i class="bx bx-check text-warning"></i>{{country.name}} <span class="text-info"> for $ <del class="text-danger">{{formatPrice(country.amount)}}</del> free</span></li>
                        </ul>
                        <a href="/ordering" class="buy-btn">Place an Order</a>
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
                    <div class="box featured">
                        <h3>BEST PAPER PRICES</h3>
                        <!--<h4><sup>$</sup>29<span>per month</span></h4>-->
                        <ul>
                            <li v-for="country in charged" :key="country.id"><i class="bx bx-check text-warning"></i>{{country.name}} at <span class="text-success">$ {{formatPrice(country.amount)}}</span></li>
                        </ul>

                        <p>We have everything you need in our suite of services to make your papers worthy of an A grade! Most of the features are AVAILABLE FOR FREE so you can avail our services with peace of mind</p>
                        <a href="/ordering" class="buy-btn">Place order</a>
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
                    <div class="box">
                        <h3>PAYMENT SECURITY</h3>
                        <!--<h4><sup>$</sup>49<span>per month</span></h4>-->
                        <p>We guarantee 100% privacy of all the personal and financial data of our customers. We have created a special policy that excludes any possibility of leaking or sharing your data wirh third parties. Read more in Privacy Policy.</p>
                        <hr>
                        <div class="row justify-content-center">
                            <div class="col-sm-6">
                                <div class="alert alert-info" role="alert">
                                    <i class="bx bx-dollar"></i>
                                    <h5 class="alert-heading">MONEY BACK</h5>
                                    <hr>
                                    <p class="mb-0">GUARANTEED</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="alert alert-warning" role="alert">
                                    <i class="bx bx-star"></i>
                                    <h5 class="alert-heading">NO HIDDEN</h5>
                                    <hr>
                                    <p class="mb-0">CHARGES</p>
                                </div>
                            </div>
                        </div>

                        <a href="/ordering" class="buy-btn">Place order</a>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Pricing Section -->


    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Our Quality</h2>
                <!--<p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>-->
            </div>

            <div class="faq-list">
                <ul>
                    <li data-aos="fade-up" data-aos-delay="100">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">One Time Delivery. <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                            <p>
                                We deliver high quality work on time, and within short deadline
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="200">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">
                        Originality Quality. <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                Our expert writers deliver 100% custom written papers in any subject, with any difficulty. Our writers have masters and PHD holders who create plagiarism free papers.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="300">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">
                        Money Back Wallet <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                In case you request for a refund, we offer money back wallet which will hold your money for future service payment.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="400">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">
                        100% Secure payment. <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                Our payment method is stable, reliable and secure. All your details are, therefore, safe and protected
                            </p>
                        </div>
                    </li>



                </ul>
            </div>

        </div>
    </section><!-- End Frequently Asked Questions Section -->



    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Testmonials</h2>
                <!--<p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>-->
            </div>

            <div class="row">

                <div class="col-lg-4">
                    <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
                        <div class="pic"><img src="assets/img/team/team-1.jpg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>Steve Thomas</h4>
                            <!--<span>Chief Executive Officer</span>-->
                            <p class="description">
                                It's the most affordable college paper writing service I've used, but it's also the best one. You paid attention to all details. My research paper was a huge success and I appreciate that. Highly recommended for students.
                            </p>
                            <div class="social">
                                <a href=""><i class="ri-twitter-fill"></i></a>
                                <a href=""><i class="ri-facebook-fill"></i></a>
                                <a href=""><i class="ri-instagram-fill"></i></a>
                                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 ">
                    <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
                        <div class="pic"><img src="assets/img/team/team-2.jpg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>Kristina</h4>
                            <!--<span>Product Manager</span>-->
                            <p class="description">
                                DevMyEssay worked on my dissertation as I didn't have enough time for both doing research and writing. They took the results of my research and turned them into well-structured text which met all the requirements of my university. Thank you once again!
                            </p>
                            <div class="social">
                                <a href=""><i class="ri-twitter-fill"></i></a>
                                <a href=""><i class="ri-facebook-fill"></i></a>
                                <a href=""><i class="ri-instagram-fill"></i></a>
                                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 ">
                    <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="300">
                        <div class="pic"><img src="assets/img/team/team-3.jpg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>williamson</h4>
                            <!--<span>CTO</span>-->
                            <p class="description">
                                This was my first time using this DevMyEssay writing service. I couldn't be happier. The writer understood exactly what I needed and delivered a great essay for me. He followed all my requirements.
                            </p>
                            <div class="social">
                                <a href=""><i class="ri-twitter-fill"></i></a>
                                <a href=""><i class="ri-facebook-fill"></i></a>
                                <a href=""><i class="ri-instagram-fill"></i></a>
                                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </section><!-- End Team Section -->
    <!-- Button trigger modal -->


    <!-- Modal -->
    <div class="modal  fade" id="subscribeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content custom">
                <div class="modal-body">
                    <a class="h2 text-center" href="/" target="_blank">SAVE {{discount}} % NOW </a>
                    <h3 class="pt-5 mb-0 text-secondary text-center">Our Special offer</h3>
                    <p class="pb-1 text-muted text-center"><small>Enter your email and get {{discount}} % discount on all academic papers .</small></p>
                    <div class="row justify-content-center mb-5">
                        <div class="col-sm-8 text-center">
                            <div style="font-size: 24px;">
                                <i class="fa fa-gift fa-5x fa-spin" style="color:orangered; text-shadow: 1px 1px 1px #ccc;"></i>
                            </div>
                            <span>{{discount}} % discount off</span>
                        </div>
                    </div>
                    <div class="container text-center">
                            <form action="#"  method="post" v-on:submit.prevent="subscribe()">
                            <div class="row justify-content-center text-center">
                                <div class="col-sm-6">
                                        <input type="email" name="email" v-model="data.email" class="form-control" placeholder="Enter your email address"  required>
                                </div>
                                <div class="col-sm-2">
                                        <button class="btn btn-info " type="submit">SEND</button>
                                </div>
                            </div>
                            </form>
                    </div>
                    <p class="pb-1 text-muted text-center"><small>Your email is safe with us. We won't spam.</small></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal" v-on:click="closeModal()">Close</button>
                </div>
            </div>
        </div>
    </div>


</div>
</template>
<script>
    export default {
        data(){
            return {
                currency_url: process.env.MIX_CURRENCY_URL,
                proxyUrl: process.env.MIX_APP_URL,
                discount:'',
                info:'',
                appear:'no',
                refer:'',
                sum:'0',
                services:[],
                data:{},
                message:{
                    academics_value:'0',
                    paper_value:'0',
                    total:'0',
                    amount:'0',
                    writer:'US',
                    subject_value:'0',
                    powerpoint:'0',
                    powerpointcheckvalue_value:'0',
                    powerpointchecked:false,
                    pages_value:'0',
                    pages:1,
                    powerpointslides:1,
                    page_prefix:'Page(s)',
                    agency:'0',
                    agency_value:'0',
                    page_math:'1',
                    format:'0',
                    additional_id:[],
                    additonal_value:'0',
                    writer_level:'0',
                    writerlevel_val:'0',
                    user_type:'old',
                    pagespacing:'double',
                    order_id:'',
                    style:'APA',
                    writerlevel_id:'Standard',
                    auth:localStorage.getItem('auth'),
                },
                free:[],
                charged:[],
                rates:{},
                amount_to_pay:'0',
                prefix:'$',
                exchange:'1',
                loader:'false',
            }
        },
        created() {
            setTimeout(() => {
                this.loadCurrency();
                this.loaddata();
                this.index();
                this.showModal();
            }, 1000);

            // this.showModal();
        },
        methods: {
            convertCurrency(prefix,amount){
                this.prefix=prefix;
                this.exchange=amount;
                this.amount_to_pay=+this.message.amount * +amount;
            },
            loadCurrency(){
                this.axios.get(this.currency_url).then(response => {
                    this.rates=response.data.rates;
                }).catch(error => {
                    this.$notify({group: 'foo', text:'We are not able to load currency', type:'error', title: 'Error'});
                });
            },
            checkAuth(){
                if(this.message.auth==='yes'){
                    this.postRefer();
                }else{
                    this.appear='yes';
                }
            },
            cancel(){
                this.appear='no';
            },
            authenticate(){
                loadbutton3();
                let uri =this.proxyUrl+`/api/auth/login`;
                this.axios.post(uri, this.data).then((response) => {
                    stopbutton3();
                    if(response.data.status){
                        if(response.data.user.status==='Active') {
                            if (response.data.user.role === 'student') {
                                localStorage.setItem('token', response.data.access_token);
                                localStorage.setItem('name', response.data.user.name);
                                localStorage.setItem('wallet', response.data.wallet);
                                localStorage.setItem('auth', 'yes');
                                this.postRefer();
                            } else {
                                swal({text: 'Unauthorised access', icon: "error",});
                                this.$notify({group: 'foo', text:'Unauthorised access' , type:'error', title: 'Error'});
                            }
                        }else{
                            this.$notify({group: 'foo', text:'Unauthorised access,inactive account, please contact admin' , type:'error', title: 'Error'});
                        }
                    }else{
                        this.$notify({group: 'foo', text:response.data.message , type:'error', title: 'Error'});
                    }
                }).catch(error => {
                    stopbutton3();
                    localStorage.removeItem('token');
                    this.$notify({group: 'foo', text:'We are not able to pull data' , type:'error', title: 'Error'});
                });
            },
            postRefer(){
                loadbutton3();
                let uri =this.proxyUrl+`/api/auth/refer`;
                this.axios.post(uri,this.data,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then(response => {
                    stopbutton3();
                    this.appear='no';
                    this.data={};
                    if(response.data.status){
                        this.$notify({group: 'foo', text:response.data.message , type:'success', title: 'success'});
                        this.info=response.data.message;
                    }else{
                        this.$notify({group: 'foo', text:response.data.message , type:'error', title: 'error'});
                    }
                }).catch(error => {
                    stopbutton3();
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$notify({group: 'foo', text:'We are not able to complete your request', type:'error', title: 'Error'});
                    }
                });
            },
            index() {
                let uri =this.proxyUrl+`api/auth/client/getIndexdata`;
                this.axios.get(uri).then(response => {
                    this.free=response.data.free;
                    this.charged=response.data.charged;
                    this.discount=response.data.discount;
                    this.refer=response.data.refer;
                    this.sum=response.data.free.reduce((acc, item) => +acc + +item.amount, 0);
                }).catch(error => {

                });
            },
            subscribe() {
                $('.custom').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/subscribe`;
                this.axios.post(uri,this.data).then(response => {
                    $('.custom').loader('hide');
                    if(response.data.status){
                        this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                        window.location.href = "/ordering";
                    }else{
                        this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                        window.location.href = "/ordering";
                    }
                }).catch(error => {
                    $('.custom').loader('hide');
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                });
            },
            closeModal(){
                $("#subscribeModal").modal("hide");
            },
            showModal(){
                setTimeout(function(){
                    $(document).ready(function() {
                        if ($.cookie('pop') == null) {
                            $("#subscribeModal").modal("show");
                            $.cookie('pop', '1');
                        }
                    });
                }, 5000);
            },
            loaddata(){
                $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                this.loader='true';
                let uri =this.proxyUrl+`api/auth/client/order`;
                this.axios.get(uri).then(response => {
                    this.loader='false';
                    this.message.discount=response.data.discount;
                    this.services=response.data.services;
                    this.papers=response.data.paper;
                    this.subjects=response.data.subjects;
                    this.agencys=response.data.agencys;
                    this.academics=response.data.academics;
                    this.message.typeofservice_id =1;
                    this.message.academic_id =1;
                    this.message.typeofpaper_id=1;
                    this.message.subject_id=1;
                    this.message.agency_id=response.data.agency_id.id;
                    this.message.powerpoint=response.data.powerpoint;
                    this.additionals=response.data.additionals;
                    this.additionals2=response.data.additionals2;

                    this.typeofservice();
                    this.academicsval();
                    this.typeofpaper();
                    this.loopPages();
                    this.calcAgency();
                    this.subjectarea();
                    $('.card').loader('hide');

                }).catch(error => {
                    $('.card').loader('hide');
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                });
            },
            loadAcademics(){
                this.loader='true';
                let uri =this.proxyUrl+`api/auth/client/loadAcademics`;
                var name=this.services.find(food => food.id === this.message.typeofservice_id).name;
                this.message.name=name;
                this.axios.post(uri,this.message).then(response => {
                    this.loader='false';
                    this.academics=response.data.academic;
                    if(response.data.dis==='no'){
                        this.message.academic_id =response.data.academic_id;
                    }else{
                        this.message.academic_id =response.data.academic_id.id;
                        this.papers=response.data.paper;
                        this.message.typeofpaper_id=response.data.paper_id.id;
                    }
                    if(response.data.question==='yes'){
                        this.message.page_prefix='Question(s)'
                    }else{
                        this.message.page_prefix='Page(s)'
                    }
                    this.agencys=response.data.agency;
                    this.message.agency_id=response.data.agency_id.id;

                    this.typeofservice();
                    this.academicsval();
                    this.typeofpaper();
                    this.calcAgency();

                }).catch(error => {
                    this.loader='false';
                });
            },
            calAdditional(val,amount){
                if(document.getElementById(val).checked) {
                    this.message.additional_id.push(val);
                    this.additionals_amount.push(amount);
                    this.message.additonal_value=this.additionals_amount.reduce((acc, item) => +acc + +item, 0);
                }else{
                    this.message.additional_id.splice(this.message.additional_id.indexOf(val), 1);
                    this.additionals_amount.splice(this.additionals_amount.indexOf(amount), 1);
                    this.message.additonal_value=this.additionals_amount.reduce((acc, item) => +acc + +item, 0);
                }
                this.addTotal();
            },
            typeofservice(){
                this.message.service_value=this.services.find(food => food.id === this.message.typeofservice_id).amount;
                this.addTotal();
            },
            academicsval(){
                this.message.academics_value=this.academics.find(food => food.id === this.message.academic_id).amount;
                this.addTotal();
            },
            typeofpaper(){
                this.message.paper_value=this.papers.find(food => food.id === this.message.typeofpaper_id).amount;
                this.addTotal();
            },
            subjectarea(){
                this.message.subject_value=this.subjects.find(food => food.id === this.message.subject_id).amount;
                this.addTotal();
            },
            powerPointCheck(){
                if(this.message.powerpointchecked===false){
                    this.message.powerpointcheckvalue_value=this.message.powerpoint;
                    var i;
                    for (i = 1; i <= 200; i++) {
                        this.slides=i;
                    }
                }else{
                    this.message.powerpointcheckvalue_value='0';
                    this.slides=[];
                }
                this.addTotal();
            },
            loopPages(){
                var i;
                for (i = 1; i <= 200; i++) {
                    this.pages=i;
                }
            },
            calPages(){
                this.addTotal();
            },
            calcAgency() {
                this.message.agency_value=this.agencys.find(food => food.id === this.message.agency_id).amount;
                var today = new Date();
                var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
                var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
                var dateTime = date+' '+time;
                this.message.date=dateTime;
                this.addTotal();
            },
            calcSlides(){
                this.message.powerpointcheckvalue_value=(+this.message.powerpoint * +this.message.powerpointslides).toFixed(2);
                this.addTotal();
            },
            switchPages(val,pagespacing){
                this.message.pagespacing=pagespacing;
                this.message.page_math=val;
                this.loopPages();
                this.addTotal();
            },
            switchFormat(val,writer){
                this.message.writer=writer;
                this.message.format=val;
                this.addTotal();
            },
            level(val,writerlevel_id){
                this.message.writerlevel_id=writerlevel_id;
                this.message.writerlevel_val=val;
                this.addTotal();
            },
            switchlevel(val){
                this.message.writer_level=val;
                this.addTotal();
            },
            addTotal(){
                var total=((+this.message.service_value+ +this.message.academics_value + +this.message.paper_value+
                    +this.message.subject_value)* +this.message.pages * +this.message.page_math + (+this.message.powerpointcheckvalue_value+
                    +this.message.format+ +this.message.additonal_value+ +this.message.writer_level+ +this.message.writerlevel_val)).toFixed(2);
                var urgency_ded=(this.message.agency_value/100)* +total;
                this.message.total=(+total+ +urgency_ded).toFixed(2);
                var discount=(+this.message.discount/100)* +this.message.total;
                this.message.amount=(+this.message.total- +discount).toFixed(2);
                this.convertCurrency(this.prefix,this.exchange);
            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },

        }
    }
</script>
