<template>
    <div class="mb-5">
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>

        <form class="php-email-form" method="post" v-on:submit.prevent="login()">
            <div class="row justify-content-center mt-5">
                <div class="col-sm-8">
                    <div class="container center mb-5 mr-0">
                        <div class="card">
                            <div class="row">
                                <div class="col-sm-6 login">


                                </div>
                                <div class="col-sm-6">
                            <h6>Sign In</h6>
                            <hr/>
                            <div class="container mt-3">
                                <div class="text-center">
                                    <i class="fa fa-lock fa-2x"></i>
                                </div>
                                <div class="form-group mb-2">
                                    <label>Email<span class="required text-danger">*</span></label>
                                    <input type="text" class="form-control" name="email" v-model="message.email" required>
                                </div>

                                <div class="form-group mb-2">
                                    <label>Password<span class="required text-danger">*</span></label>
                                    <input type="password" class="form-control" name="email" v-model="message.password" required>
                                </div>
                                <div class="row">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <input type="checkbox"   value="1" name="agree" >
                                        </div>
                                        <div class="col-sm-6">
                                            <label> <a class="agree" href="#">Keep me signed in</a> </label>
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <button class="btn btn-info btn-block" type="submit"  >Sign in</button>
                                </div>
                                <div class="row mt-5">
                                    <router-link :to="{name:'forget'}" href="#">Forgot password?</router-link>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
</template>
<script>

    export default {
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{},
            }
        },
        methods: {
            login() {
                $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/login`;
                this.axios.post(uri, this.message).then((response) => {
                    $('.card').loader('hide');
                    if(response.data.status){
                        if(response.data.user.status==='Active') {
                            if (response.data.user.role === 'student') {
                                localStorage.setItem('token', response.data.access_token);
                                localStorage.setItem('name', response.data.user.name);
                                localStorage.setItem('wallet', response.data.wallet);
                                localStorage.setItem('auth', 'yes');
                                this.$toast.open({message: 'Success login', type: 'success', position: 'top'});
                                this.$router.push({name: 'home'});
                            } else {
                                this.$toast.open({message: 'Unauthorised access', type: 'error', position: 'top'});
                            }
                        }else{
                            this.$toast.open({message: 'Inactive account, contact devmyessay', type: 'error', position: 'top'});
                        }
                    }else{
                        this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                    }
                }).catch(error => {
                    $('.card').loader('hide');
                    localStorage.removeItem('token');
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                });

            },


        }
    }
</script>
