<template>
    <div class="mb-5 container">
        <br/>
        <br/>
        <br/>
        <br/>
        <Navbar></Navbar>
        <div class="content">
            <div class="container ">
                <div class="row justify-content-center">
                    <div class="col-sm-10">
                        <div class="container center">
                            <div class="card mb-5">
                                <h6>My Profile</h6>
                                <hr/>
                                <div class="container mt-3">
                                    <hr>
                                    <div class="php-email-form">


                                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Personal information</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Password</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Wallet</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content" id="myTabContent">
                                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                                <div class="row justify-content-center mt-3">
                                                    <div class="col-sm-8">
                                                        <form action="#" method="post" v-on:submit.prevent="updateInfo()">
                                                            <div class="form-group mb-3">
                                                                <input type="text" class="form-control" name="user-name" placeholder="Email" v-model="message.email" required>
                                                            </div>
                                                            <div class="form-group mb-3">
                                                                <input type="text" class="form-control" name="user-name" placeholder="Name" v-model="message.name" required>
                                                            </div>
                                                            <div class="form-group mb-3">
                                                                <vue-tel-input v-model="message.phone" v-bind="bindProps"></vue-tel-input>
                                                            </div>
                                                            <div class="col-sm-12">
                                                                    <button class="btn btn-info btn-block"  type="submit"><span>Update</span></button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

                                                <div class="row justify-content-center mt-3">
                                                    <div class="col-sm-8">
                                                        <form action="#" method="post" v-on:submit.prevent="updatePassword()">
                                                            <div class="login-input-box">
                                                                <input type="password" class="form-control mb-3" name="user-password" placeholder="Current Password" v-model="message.currentpass" required>
                                                                <input type="password" class="form-control mb-3" name="user-password" placeholder="New Password" v-model="message.password" required>
                                                                <input type="password" class="form-control mb-3" name="user-password" placeholder="Confirm Password" v-model="message.repass" required>
                                                            </div>
                                                            <div class="button-box">
                                                                <button type="submit" class="btn btn-info btn-block" ><span>Update</span></button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                                <h1 class="text-center">Balance</h1><hr/>
                                                <h1 class="text-center text-info">$ {{formatPrice(wallet)}}</h1>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</template>
<script>
    import  Navbar from '../view/navbar'
    export default {
        name: 'App',
        components: {
            Navbar
        },
        data(){
            return {
                bindProps: {
                    mode: "international",
                    disabledFetchingCountry: false,
                    disabled: false,
                    disabledFormatting: false,
                    placeholder: "Enter a phone number",
                    required: true,
                    enabledCountryCode: true,
                    enabledFlags: true,
                    maxLen: 25,
                    wrapperClasses: "",
                    inputClasses: "",
                    dropdownOptions: {
                        disabledDialCode: false
                    },
                    inputOptions: {
                        showDialCode: true
                    }
                },
                proxyUrl: process.env.MIX_APP_URL,
                message:{},
                wallet:'',
            }
        },
        created() {
             this.loaddata();
        },
        methods: {
            loaddata(){
                let uri =this.proxyUrl+`api/auth/user`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then(response => {
                    this.message = response.data.user;
                    this.wallet = response.data.wallet;
                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                    }else{
                        this.$notify({group: 'foo', text:'We are not able to complete your request', type:'error', title: 'Error'});
                    }
                });
            },
            updateInfo(){
                $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/updateInfo`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then(response => {
                    $('.card').loader('hide');
                    if(response.data.status){
                        this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                   }
                }).catch(error => {
                    $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });
            },
            updatePassword(){
                $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/updatePassword`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then(response => {
                    $('.card').loader('hide');
                    if(response.data.status){
                        this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                    }else{
                        this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                    }
                }).catch(error => {
                    $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });
            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            }
        }
    }
</script>
