<template>
    <div class="mb-5 container">
        <br/>
        <br/>
        <br/>
        <br/>
        <Navbar></Navbar>
        <div class="content">
            <div class="container ">
                <div class="row justify-content-center">
                    <p class="text-center">Refer and get <span class="text-success">$ 10.00</span> into your wallet.</p>
                    <p class="text-center">Ask your users to use  Referal code<span class="text-danger"> {{codes.code}}</span> while placing an order, or copy and share the link bellow.</p>
                    <hr>
                    <div class="col-sm-10">
                        <div class="form-group mb-2">
                            <input type="text" class="form-control text-success" id="myurl" v-model="code" >
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-info " v-on:click="copyUrl()"><i class="fa fa-copy"></i> Copy</button>

                    </div>
                </div>
                <div class="row justify-content-center">
                    <p>My Referals</p>
                    <div class="col-sm-12">
                        <table class="table table-bordered  ">
                            <thead>
                            <tr>
                                <th >#</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th >Code</th>
                                <th >Order ID</th>
                                <th >Date</th>
                                <th >Amount awarded</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(post,index) in message" :key="post.id">
                                <th >{{index+1}}</th>
                                <td>{{post.name}}</td>
                                <td>{{post.email}}</td>
                                <td>{{post.code}}</td>
                                <td>{{post.order_code.toUpperCase()}}</td>
                                <td>{{post.created_at}}</td>
                                <td>$ 10.00</td>
                            </tr>
                            </tbody>
                        </table>


                    </div>
                </div>
            </div>

        </div>
    </div>
</template>
<script>
    import  Navbar from '../view/navbar'
    export default {
        name: 'App',
        components: {
            Navbar
        },
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                MIX_FRONT_URL: process.env.MIX_FRONT_URL,
                message:[],
                code:'',
                codes:{},
            }
        },
        created() {
            this.loaddata();
        },
        methods: {
            copyUrl(){
                var copyText = document.getElementById("myurl");
                copyText.select();
                copyText.setSelectionRange(0, 99999); /* For mobile devices */
                document.execCommand("copy");
                this.$toast.open({message: 'Link copied,share to other users', type: 'info', position: 'top'});
            },
            loaddata(){
                let uri =this.proxyUrl+`api/auth/referals`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then(response => {
                    this.message = response.data.referals;
                    this.code =this.MIX_FRONT_URL+'ordering?name='+response.data.codes.code
                    this.codes =response.data.codes
                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });
            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            }

        }
    }
</script>
