<template>
    <div>
        <!--&lt;!&ndash; breadcrumb-area start &ndash;&gt;-->
        <!--<div class="breadcrumb-area section-ptb">-->
            <!--<div class="container">-->
                <!--<div class="row">-->
                    <!--<div class="col">-->
                        <!--<h2 class="breadcrumb-title">Services</h2>-->
                        <!--&lt;!&ndash; breadcrumb-list start &ndash;&gt;-->
                        <!--<ul class="breadcrumb-list">-->
                            <!--<li class="breadcrumb-item"><a href="/">Home</a></li>-->
                            <!--<li class="breadcrumb-item active">Services</li>-->
                        <!--</ul>-->
                        <!--&lt;!&ndash; breadcrumb-list end &ndash;&gt;-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <div class="row justify-content-center  pt--10 mt--10 mb--10 pb--10">
            <div class="col-lg-6">
                <div class="slider-inner-image">
                    <div class="your-order-wrap2">
                        <!-- your-order-table start -->
                        <div class="your-order-table table-responsive">
                            <h4 class="text-success">Get $ {{formatPrice(refer)}} by referring a friend</h4><hr>
                            <p>By referring a friend, and they place an order using  your Promo Code, you get <span class="text-success">$ {{formatPrice(refer)}}</span> instantly in your wallet</p>
                             <p class="text-success">{{info}}</p>

                            <div class="row justify-content-center">
                            <div class="col-lg-6">
                            <div class="col-lg-12" v-if="appear==='no'">
                                <p class="single-form-row">
                                    <label>Enter email to refer </label>
                                    <input type="text"     v-model="data.refer_email">
                                </p>
                            </div><hr>
                            <div v-if="appear==='yes'">
                                <p class="text-danger">Your are not signed in, please enter details to login</p>
                                <div class="col-lg-12">
                                    <p class="single-form-row">
                                        <label>Your Email </label>
                                        <input type="email"    v-model="data.email">
                                    </p>
                                </div>
                                <div class="col-lg-12">
                                    <p class="single-form-row">
                                        <label>Password </label>
                                        <input type="password"    v-model="data.password">
                                    </p>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <a href="#" class="text-success" @click="cancel()"> Back</a>
                                    </div>
                                    <div class="col-sm-6">
                                        <router-link :to="{ name: 'login' }" href="#" class="text-primary" >New user?</router-link>
                                    </div>
                                </div>
                            </div>

                            </div>
                            </div>

                        </div>
                        <div class="col-lg-12 pb--10" v-if="appear==='no'">
                            <button class="btn  btn-block submitbtn3" @click="checkAuth()"  >Send Invite</button>
                        </div>
                        <div class="col-lg-12 pb--10" v-if="appear==='yes'">
                            <button class="btn  btn-block submitbtn3" @click="authenticate()"  >Proceed</button>
                        </div>


                    </div>
                </div>
            </div>
        </div>


    </div>
</template>
<script>

    export default {
        data(){
            return {
                discount:'',
                info:'',
                appear:'no',
                refer:'',
                services:[],
                data:{},
                message:{
                    academics_value:'0',
                    paper_value:'0',
                    total:'0',
                    amount:'0',
                    writer:'US',
                    subject_value:'0',
                    powerpoint:'0',
                    powerpointcheckvalue_value:'0',
                    powerpointchecked:false,
                    pages_value:'0',
                    pages:1,
                    powerpointslides:1,
                    page_prefix:'Page(s)',
                    agency:'0',
                    agency_value:'0',
                    page_math:'1',
                    format:'0',
                    additional_id:[],
                    additonal_value:'0',
                    writer_level:'0',
                    writerlevel_val:'0',
                    user_type:'old',
                    pagespacing:'double',
                    order_id:'',
                    style:'APA',
                    writerlevel_id:'Standard',
                    auth:localStorage.getItem('auth'),
                },
            }
        },
        created(){
            this.index();
        },
        methods: {
            index() {
                let uri =`api/auth/client/getIndexdata`;
                this.axios.get(uri).then(response => {
                    this.discount=response.data.discount;
                    this.refer=response.data.refer;
                }).catch(error => {

                });
            },
            checkAuth(){
                if(this.message.auth==='yes'){
                    this.postRefer();
                }else{
                    this.appear='yes';
                }
            },
            cancel(){
                this.appear='no';
            },
            authenticate(){
                loadbutton3();
                let uri =`/api/auth/login`;
                this.axios.post(uri, this.data).then((response) => {
                    stopbutton3();
                    if(response.data.status){
                        if(response.data.user.status==='Active') {
                            if (response.data.user.role === 'student') {
                                localStorage.setItem('token', response.data.access_token);
                                localStorage.setItem('name', response.data.user.name);
                                localStorage.setItem('wallet', response.data.wallet);
                                localStorage.setItem('auth', 'yes');
                                this.postRefer();
                            } else {
                                swal({text: 'Unauthorised access', icon: "error",});
                                this.$notify({group: 'foo', text:'Unauthorised access' , type:'error', title: 'Error'});
                            }
                        }else{
                            this.$notify({group: 'foo', text:'Unauthorised access,inactive account, please contact admin' , type:'error', title: 'Error'});
                        }
                    }else{
                        this.$notify({group: 'foo', text:response.data.message , type:'error', title: 'Error'});
                    }
                }).catch(error => {
                    stopbutton3();
                    localStorage.removeItem('token');
                    this.$notify({group: 'foo', text:'We are not able to pull data' , type:'error', title: 'Error'});
                });
            },
            postRefer(){
                loadbutton3();
                let uri =`/api/auth/refer`;
                this.axios.post(uri,this.data,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then(response => {
                    stopbutton3();
                    this.appear='no';
                    this.data={};
                    if(response.data.status){
                        this.$notify({group: 'foo', text:response.data.message , type:'success', title: 'success'});
                        this.info=response.data.message;
                    }else{
                        this.$notify({group: 'foo', text:response.data.message , type:'error', title: 'error'});
                    }
                }).catch(error => {
                    stopbutton3();
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$notify({group: 'foo', text:'We are not able to complete your request', type:'error', title: 'Error'});
                    }
                });
            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },

        }
    }
</script>
