<template>
    <div>

        <!--&lt;!&ndash; =====  BANNER STRAT  ===== &ndash;&gt;-->
        <!--<div class="breadcrumb">-->
            <!--<h1>Register/Account</h1>-->
            <!--<ul>-->
                <!--<li><a href="/">Home</a></li>-->
                <!--<li class="active">Register/Account</li>-->
            <!--</ul>-->
        <!--</div>-->
        <!--&lt;!&ndash; =====  BREADCRUMB END===== &ndash;&gt;-->



        <!-- =====  CONTAINER START  ===== -->
        <div class="container">
            <div class="row ">
                <div id="column-left" class="col-sm-4 col-md-4 col-lg-3">
                    <div class="left-special left-sidebar-widget">
                        <div class="heading-part mb_20 ">
                            <h2 class="sub_title pull-left">Registration</h2>
                        </div>
                    </div>
                    <div class="left_banner left-sidebar-widget"> <a href="#"><img src="/images/auth.PNG" alt="Left Banner" class="img-responsive" /></a> </div>
                </div>
                <div class="bg-gray col-sm-8 col-md-8 col-lg-9 mb_30 ptb_80">
                    <!-- contact  -->
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="panel-login">
                                <div class="panel-heading">
                                    <div class="row mb_20">
                                        <div class="col-xs-6 sub_title"> <a href="#" class="active" id="register-form-link">Register</a> </div>
                                    </div>
                                    <hr>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <form id="login-form" action="#" method="post">
                                                <div class="form-group">
                                                    <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
                                                </div>
                                                <div class="form-group">
                                                    <input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Email Address" value="">
                                                </div>
                                                <div class="form-group">
                                                    <input type="password" name="password" id="password2" tabindex="2" class="form-control" placeholder="Password">
                                                </div>
                                                <div class="form-group">
                                                    <input type="password" name="confirm-password" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm Password">
                                                </div>
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-sm-6 col-sm-offset-3">
                                                            <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- =====  CONTAINER END  ===== -->

</template>
