<template>
    <div>
        <!--&lt;!&ndash; breadcrumb-area start &ndash;&gt;-->
        <!--<div class="breadcrumb-area section-ptb">-->
            <!--<div class="container">-->
                <!--<div class="row">-->
                    <!--<div class="col">-->
                        <!--<h2 class="breadcrumb-title">Services</h2>-->
                        <!--&lt;!&ndash; breadcrumb-list start &ndash;&gt;-->
                        <!--<ul class="breadcrumb-list">-->
                            <!--<li class="breadcrumb-item"><a href="/">Home</a></li>-->
                            <!--<li class="breadcrumb-item active">Services</li>-->
                        <!--</ul>-->
                        <!--&lt;!&ndash; breadcrumb-list end &ndash;&gt;-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->


        <div class="container mt--5 pt--10 border mb--5 pb--10">
            <div class="row justify-content-center">
                <div class="col-sm-8">
                    <div class="product-details-tab mt--0">
                        <ul role="tablist" class="mb--50 nav">
                            <li class="active" role="presentation">
                                <a data-toggle="tab" role="tab" href="#description" class="">SERVICES WE OFFER</a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <p class="text-center">
                        Did you know that here at DevMyEssay, we provide a full range of writing services for students
                        just like you? We know how hard it can be to fit everything in; studying, working, and socialising.
                        It can get especially tough when you factor in tight deadlines and tons of research. In short, being
                        a student is tough – and we know that.
                    </p>
                    <div class="col-sm-6">
                        <div class="service">
                            <div class="pic">
                                <img src="/images/avatar/cap.jpg">
                            </div>
                            <p class="description">
                                Sometimes, the hardest part of the essay is generating the right thesis. We can do this for you. Whether you want just the thesis or the full essay behind it, we can do that.
                            </p>
                            <h3 class="title">Thesis Writing</h3>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="service">
                            <div class="pic">
                                <img src="/images/avatar/cap.jpg">
                            </div>
                            <p class="description">
                                A dissertation is arguably the most important essay you will write as a student. Accounting for up to 60% of your final grade, a good dissertation is essential. Give us your thesis, or let us generate one for you!
                            </p>
                            <h3 class="title">Dissertation Writing</h3>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-sm-6">
                        <div class="service">
                            <div class="pic">
                                <img src="/images/avatar/cap.jpg">
                            </div>
                            <p class="description">
                                Need a literary essay? An argumentative essay? A comparison essays? Any essay? We’ve got you covered!.
                            </p>
                            <h3 class="title">Essay Writing</h3>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="service">
                            <div class="pic">
                                <img src="/images/avatar/cap.jpg">
                            </div>
                            <p class="description">
                                This is perhaps the most time-consuming paper. All that research! And of course, there’s the bibliography and citations to worry about. Relax and let us worry for you.
                            </p>
                            <h3 class="title">Research Papers</h3>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-sm-6">
                        <div class="service">
                            <div class="pic">
                                <img src="/images/avatar/cap.jpg">
                            </div>
                            <p class="description">
                                With the competition to get onto your chosen course so fierce, why risk missing out on the course of your dreams down to a bad admissions essay? Our team know what admissions staff are looking for – and we always deliver.
                            </p>
                            <h3 class="title">Admissions Essays</h3>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="service">
                            <div class="pic">
                                <img src="/images/avatar/cap.jpg">
                            </div>
                            <p class="description">
                                We don’t just write papers, although we can write papers on the theories behind mathematical and scientific principles. We can also do your calculations for you.
                            </p>
                            <h3 class="title">Maths and Science Assignments</h3>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-6">
                        <div class="service">
                            <div class="pic">
                                <img src="/images/avatar/cap.jpg">
                            </div>
                            <p class="description">
                                Editing is one of the most important stages of writing your paper, and it’s something that is often overlooked. Often because it is harder than it seems, and people often have no idea where to start. If you have written your own assignment, we can edit it for you; we will improve the flow and strength any weak points
                            </p>
                            <h3 class="title">Editing</h3>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="service">
                            <div class="pic">
                                <img src="/images/avatar/cap.jpg">
                            </div>
                            <p class="description">
                                Have you written and edited your own paper? Don’t forget to proof read it. You can lose crucial marks based on your spelling, punctuation and grammar. Let us fix it for you to really make your work pop..
                            </p>
                            <h3 class="title">Proofreading</h3>
                        </div>
                    </div>
                </div>


            </div>
        </div>



    </div>
</template>
