<template>
    <div class="mb-5 container">
        <br/>
        <br/>
        <br/>
        <br/>


                <div class="row justify-content-center">
                    <div class="col-sm-8">
                        <div class="container center">
                            <div class="card mb-5">
                                <h6>Add payment ID:{{message.code.toUpperCase()}}  Current Amount:$ {{message.amount}} <i class="fa fa-shopping-cart"></i></h6>
                                <hr/>
                                <div class="container mt-3">
                                    <p class="text-center title"> {{message.title}}.</p><hr>
                                    <div class="php-email-form">
                                        <div class="row justify-content-center">
                                            <div class="col-sm-8">

                                                <div class="col-lg-12">
                                                        <label>Amount to add ($)<span class="required text-danger">*</span></label>
                                                        <input type="text" class="form-control" name="email" v-model="message.amount_to_pay"  id="amount_to_pay" required>
                                                </div>

                                                <div class="col-lg-12">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="form-check form-check-inline switch switch-lg success">
                                                                <input type="checkbox" id="check" value="1" name="agree" required>
                                                                <label for="check"  id="agree2"> <a class="agree" href="/Terms and Conditions.pdf">I agree to Terms & Conditions</a> </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                        <div class="col-sm-12">
                                                            <button type="submit" id="submitbtn" class="btn btn-info btn-block " @click="addPayment()">Pay Now</button>
                                                        </div>


                                            </div>

                                        </div>
                                        <div class="row justify-content-center mt-5" v-if="flag2==='true'">
                                            <div class="col-sm-12">
                                                <!-- Buttons container -->
                                                <table border="0" align="center" valign="top" bgcolor="#FFFFFF" style="width:80%">
                                                    <tr>
                                                        <td colspan="2">
                                                            <div id="paypal-button-container"></div>
                                                        </td>
                                                    </tr>
                                                    <tr><td colspan="2">&nbsp;</td></tr>
                                                </table>

                                                <div align="center"> or </div>

                                                <!-- Advanced credit and debit card payments form -->
                                                <div class='card_container'>
                                                    <form id='my-sample-form'>

                                                        <label for='card-number'>Card Number</label><div id='card-number' class='card_field'></div>
                                                        <div>
                                                            <label for='expiration-date'>Expiration Date</label><div id='expiration-date' class='card_field'></div>
                                                        </div>
                                                        <div>
                                                            <label for='cvv'>CVV</label><div id='cvv' class='card_field'></div>
                                                        </div>
                                                        <label for='card-holder-name'>Name on Card</label><input type='text' id='card-holder-name' name='card-holder-name' autocomplete='off' placeholder='card holder name'/>
                                                        <div>
                                                            <label for='card-billing-address-street'>Billing Address</label><input type='text' id='card-billing-address-street' name='card-billing-address-street' autocomplete='off' placeholder='street address'/>
                                                        </div>
                                                        <div>
                                                            <label for='card-billing-address-unit'>&nbsp;</label><input type='text' id='card-billing-address-unit' name='card-billing-address-unit' autocomplete='off' placeholder='unit'/>
                                                        </div>
                                                        <div>
                                                            <input type='text' id='card-billing-address-city' name='card-billing-address-city' autocomplete='off' placeholder='city'/>
                                                        </div>
                                                        <div>
                                                            <input type='text' id='card-billing-address-state' name='card-billing-address-state' autocomplete='off' placeholder='state'/>
                                                        </div>
                                                        <div>
                                                            <input type='text' id='card-billing-address-zip' name='card-billing-address-zip' autocomplete='off' placeholder='zip / postal code'/>
                                                        </div>
                                                        <div>
                                                            <input type='text'  id='card-billing-address-country' name='card-billing-address-country' autocomplete='off' placeholder='country code' />
                                                        </div>
                                                        <br><br>
                                                        <button value='submit' id='submit' class='btn'>Pay</button>
                                                    </form>
                                                </div>

                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
</template>
<script>
    import  Navbar from '../view/navbar'
    export default {
        name: 'App',
        components: {
            Navbar
        },
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{},
                client_token:'',
                paypal_client_token_url:'',
                paypal_access_token:'',
                wallet:'',
                amount_to_pay:'',
                flag:'',
                id:'',
                flag2:'false',
                loader:'false',

            }
        },
        created() {

             this.loaddata();
        },
        methods: {
            addPayment(){
                $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                this.flag2='true';
                 this.get_client_token();
            },
            loaddata(){
                let uri =this.proxyUrl+`api/auth/client/checkout/${this.$route.params.id}`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then(response => {
                    this.paypal_access_token=response.data.paypal_access_token;
                    this.paypal_client_token_url=response.data.paypal_client_token_url;
                    this.message = response.data.order;
                    this.wallet=response.data.wallet;
                    this.amount_to_pay=response.data.amount_to_pay;
                    this.flag=response.data.flag;
                    this.id=response.data.id;
                    this.client_id=response.data.client_id;
                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$notify({group: 'foo', text:'We are not able to complete your request', type:'error', title: 'Error'});
                    }
                });
            },
            upDateStatus(){
                $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/client/order/add_post/${this.$route.params.id}`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then(response => {
                    $('.card').loader('hide');
                    if(response.data.status){
                        this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                        setTimeout(() => {  this.$router.push({name: 'inprogress'}); }, 3000);

                    }else{
                        this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                    }
                }).catch(error => {
                    $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });
            },
            get_client_token(){
                let uri =this.paypal_client_token_url;
                this.message.email='STEVE';
                this.message.password='NETWORK ADMIN';
                this.message.flag=this.flag;
                this.message.wallet=this.wallet;
                this.message.id=this.id;
                this.axios.post(uri, this.message ,{ headers: { Authorization: this.paypal_access_token,AcceptLanguage:'en_US' } }).then((response) => {
                    this.client_token=response.data.client_token;
                    this.setPage();
                }).catch(error => {
                    $('.card').loader('hide');
                    this.$toast.open({message: 'Something went wrong while getting paypal access token!', type: 'error', position: 'top'});
                });
            },
            setPage(){
                var scriptTag = document.createElement("script"); scriptTag.type = "text/javascript";
                scriptTag.src = "https://www.paypal.com/sdk/js?components=hosted-fields,buttons&client-id="+this.client_id;
                scriptTag.setAttribute("data-client-token", this.client_token);
                ( document.getElementsByTagName("head")[0] || document.documentElement ).appendChild( scriptTag );

                setTimeout(() => {  this.loadPage();
                    $('.card').loader('hide');
                }, 5000);
                setTimeout(function(){
                    $('.card').loader('hide');
                }, 5000);
            },
            loadPage(){
                let vm = this;
                paypal.Buttons({
                    commit: false,
                    createOrder: function (data, actions) {
                        // This function sets up the details of the transaction, including the amount and line item details
                        return actions.order.create({
                            purchase_units: [{
                                amount: {
                                    value: vm.message.amount_to_pay,
                                }
                            }]
                        });
                    },
                    onCancel: function (data) {
                        // Show a cancel page, or return to cart
                    },
                    onApprove: function (data, actions) {

                        // This function captures the funds from the transaction
                        return actions.order.capture().then(function (details) {
                            // This function shows a transaction success message to your buyer

                            if(details.status==='COMPLETED') {
                                vm.$notify({group: 'foo', text:'Transaction completed, please wait once more...', type:'success', title: 'success'});
                                vm.message.paypal_trans_id = details.id;
                                vm.message.payer_email = details.payer.email_address;
                                vm.message.given_name = details.payer.name.given_name;
                                vm.message.surname = details.payer.name.surname;
                                vm.message.payer_id = details.payer.payer_id;
                                vm.message.trans_status = details.status;
                                vm.message.update_time = details.update_time;
                                vm.message.country_code = details.payer.address.country_code;
                                vm.message.paypal_amount = vm.amount_to_pay;
                                vm.message.method='PAYPAL';
                                vm.upDateStatus();
                            }else{
                                vm.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                            }
                        });
                    },
                    style: {
                        color:  'blue',
                        shape:  'pill',
                        label:  'pay',
                        height: 40
                    }
                }).render('#paypal-button-container');
// Eligibility check for advanced credit and debit card payments
                if (paypal.HostedFields.isEligible()) {
                    paypal.HostedFields.render({
                        createOrder: function () {
                            return "order-ID";
                        }, // replace order-ID with the order ID
                        styles: {
                            'input': {
                                'font-size': '17px',
                                'font-family': 'helvetica, tahoma, calibri, sans-serif',
                                'color': '#3a3a3a'
                            },
                            ':focus': {
                                'color': 'black'
                            }
                        },
                        fields: {
                            number: {
                                selector: '#card-number',
                                placeholder: 'card number'
                            },
                            cvv: {
                                selector: '#cvv',
                                placeholder: 'card security number'
                            },
                            expirationDate: {
                                selector: '#expiration-date',
                                placeholder: 'mm/yy'
                            }
                        }
                    }).then(function (hf) {
                        $('#my-sample-form').submit(function (event) {
                            event.preventDefault();
                            hf.submit({
                                // Cardholder Name
                                cardholderName: document.getElementById('card-holder-name').value,
                                // Billing Address
                                billingAddress: {
                                    streetAddress: document.getElementById('card-billing-address-street').value,      // address_line_1 - street
                                    extendedAddress: document.getElementById('card-billing-address-unit').value,       // address_line_2 - unit
                                    region: document.getElementById('card-billing-address-state').value,           // admin_area_1 - state
                                    locality: document.getElementById('card-billing-address-city').value,          // admin_area_2 - town / city
                                    postalCode: document.getElementById('card-billing-address-zip').value,           // postal_code - postal_code
                                    countryCodeAlpha2: document.getElementById('card-billing-address-country').value   // country_code - country
                                }
                                // redirect after successful order approval
                            }).then(function () {
                                window.location.replace('http://www.somesite.com/review');
                            }).catch(function (err) {
                                console.log('error: ', JSON.stringify(err));
                                document.getElementById("consoleLog").innerHTML = JSON.stringify(err);
                            });
                        });
                    });
                } else {
                    $('#my-sample-form').hide();  // hides the advanced credit and debit card payments fields if merchant isn't eligible
                }




            },

        }
    }
</script>
