
    <template>
        <div>
            <div class="container">
                <div class="row">
                    <Navbar></Navbar>
                    <div class="col-lg-10">
                        <div class="tab-content dashboard-content">
                            <div class="tab-pane active" id="dashboard">
                                <h3> {{info.title}}  :  {{info.code.toUpperCase()}}
                                    <router-link :to="{name: 'detail', params: { id: info.id }}" class="btn btn-default btn-sm fa fa-refresh float-right">Back to order</router-link>
                                </h3>

                                <div class="row justify-content-center">
                                    <div class="col-lg-12">

                                        <div class="container bootstrap snippets bootdeys row justify-content-center ">
                                            <div class="col-sm-10">
                                                <!-- Panel Chat -->
                                                <div class="panel border" id="chat">
                                                    <div class="panel-heading">
                                                        <h3 class="panel-title">
                                                            <i class="icon wb-chat-text" aria-hidden="true"></i> Chat <span v-if="count>0" class="badge badge-danger " id="count2">{{count}}</span>
                                                        </h3>
                                                    </div>
                                                    <div class="panel-body ">
                                                        <div class="chats">

                                                           <div v-for="chat in chats " :key="chat.id">
                                                            <div  class="chat chat-left" v-if="chat.user_id!==my_id">
                                                                <div class="chat-avatar">
                                                                    <a class="avatar avatar-online" data-toggle="tooltip" href="#" data-placement="left" title="" data-original-title="Edward Fletcher">
                                                                        <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="...">
                                                                        <i></i>
                                                                    </a>
                                                                </div>
                                                                <div class="chat-body">
                                                                    <div class="chat-content">
                                                                        <p>{{chat.message}}</p>
                                                                        <time class="chat-time" >{{chat.time}}</time>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="chat" v-else>
                                                                <div class="chat-avatar">
                                                                    <a class="avatar avatar-online" data-toggle="tooltip" href="#" data-placement="right" title="" data-original-title="June Lane">
                                                                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="...">
                                                                        <i></i>
                                                                    </a>
                                                                </div>
                                                                <div class="chat-body">
                                                                    <div class="chat-content">
                                                                        <p>
                                                                            {{chat.message}}
                                                                        </p>
                                                                        <time class="chat-time" >{{chat.time}}</time>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                           </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel-footer">
                                                        <form  v-on:submit.prevent="sendMessages()">
                                                            <div class="input-group">
                                                                <input type="text" class="form-control" v-model="message.message" placeholder="Say something" required>
                                                                <span class="input-group-btn">
            <button id="chat_btn" class="btn btn-primary" type="submit">Send</button>
          </span>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                                <!-- End Panel Chat -->
                                            </div>
                                        </div>

                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </template>
    <script>
        import  Navbar from '../view/navbar'
        export default {
            name: 'App',
            components: {
                Navbar
            },
            data(){
                return {
                    message:{},
                    chats:[],
                    count:'',
                    my_id:'',
                    info:{}
                }
            },
            created() {
                this.loaddata();
                this.updateNotif();
                this.fetchMessages();
                this.interval = setInterval(() => this.fetchMessages(), 5000);
            },
            methods: {
                updateNotif(){
                    let uri =`/api/auth/updateNotif/${this.$route.params.id}`;
                    this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then(response => {

                    }).catch(error => {
                        this.$notify({group: 'foo', text:'We are not able to complete your request', type:'error', title: 'Error'});
                    });
                },
                sendMessages(){
                    loadchatBtn();
                    this.message.time=showtimeTime();
                    let uri =`/api/auth/messages/${this.$route.params.id}`;
                    this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then(response => {
                       stopchatBtn();
                       this.message={};
                        this.fetchMessages();
                    }).catch(error => {
                        stopchatBtn();
                        if (error.response.status === 401) {
                            this.$router.push({name: 'login'});
                            clearSession();
                        }else{
                            this.$notify({group: 'foo', text:'We are not able to complete your request', type:'error', title: 'Error'});
                        }
                    });
                },
                fetchMessages(){
                    if(this.$route.name==='chat') {
                        let uri = `/api/auth/messages/${this.$route.params.id}`;
                        this.axios.get(uri, {headers: {Authorization: 'Bearer ' + localStorage.getItem('token')}}).then(response => {
                            this.chats = response.data.data;
                            this.count = response.data.count;
                        }).catch(error => {
                            if (error.response.status === 401) {
                                this.$router.push({name: 'login'});
                                clearSession();
                            } else {
                                this.$notify({group: 'foo', text:'We are not able to complete your request', type:'error', title: 'Error'});
                            }
                        });
                    }
                },
                loaddata(){
                    let uri =`/api/auth/client/orders/view/${this.$route.params.id}`;
                    this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then(response => {
                        this.info = response.data.orders[0];
                        this.my_id = response.data.orders[0].user_id;
                    }).catch(error => {
                        if (error.response.status === 401) {
                            this.$router.push({name: 'login'});
                            clearSession();
                        }else{
                            this.$notify({group: 'foo', text:'We are not able to complete your request', type:'error', title: 'Error'});
                        }
                    });
                },
            }
        }
    </script>



