    <template>
        <div class="mb-5 container">
            <br/>
            <br/>
            <br/>
            <br/>
            <Navbar></Navbar>
            <div class="content">
                <div class="container ">

                    <div class="row justify-content-center">
                        <div class="col-sm-8">
                            <div class="container center" >
                                <div class="card">
                                    <h6>Confirm your payment <i class="fa fa-shopping-cart"></i></h6>
                                    <hr/>
                                    <div class="container mt-3">
                                        <p class="text-center title"> {{message.title}}.</p>
                                        <div class="php-email-form">

                                            <div class=" ">
                                                <table class="table">
                                                    <thead>
                                                    <tr>
                                                        <th class="product-name">#</th>
                                                        <th class="product-total">#</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr class="cart_item">

                                                    </tr>
                                                    </tbody>
                                                    <tfoot>
                                                    <tr class="cart-subtotal">
                                                        <th>Order ID </th>
                                                        <td>{{message.code.toUpperCase()}}</td>
                                                    </tr>
                                                    <tr class="cart-subtotal">
                                                        <th>Academic level </th>
                                                        <td> {{message.academic}}</td>
                                                    </tr>
                                                    <tr class="cart-subtotal">
                                                        <th>Urgency </th>
                                                        <td>{{message.agency}} {{message.prefix}}</td>
                                                    </tr>
                                                    <tr class="cart-subtotal">
                                                        <th>Deadline </th>
                                                        <td>{{message.deadline}}</td>
                                                    </tr>
                                                    <tr class="cart-subtotal">
                                                        <th>My Wallet </th>
                                                        <td>$ {{formatPrice(message.wallet)}}</td>
                                                    </tr>
                                                    <tr class="order-total">
                                                        <th>Amount to pay</th>
                                                        <td><strong><span class="amount text-success">$ {{formatPrice(message.amount)}}</span></strong>
                                                        </td>
                                                    </tr>

                                                    <tr>


                                                    </tr>

                                                    </tfoot>
                                                </table>



                                                <div class=" mt-3 justify-content-center text-center">
                                                    <!-- ACCORDION START -->
                                                    <img src="/assets/img/1.png" alt="" style="width: 50%;"/>


                                                    <!-- ACCORDION END -->

                                                    <div class="row mt-5">
                                                        <button @click="savingFiles()" class="btn btn-info btn-block" type="submit"  >Pay now</button>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>


        </div>
</template>
<script>
    import  Navbar from '../view/navbar'
    export default {
        name: 'App',
        components: {
            Navbar
        },
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{},
                image: [],
                image_src: '',
                attachments:[],
                form: new FormData,
            }
        },
        created() {
            setTimeout(() => {
                this.loaddata();
            }, 1000);
        },
        methods: {
            savingFiles(){
                this.$router.push({name: 'payment',params: { id: this.$route.params.id }});
            },
            loaddata(){
                $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/client/confirm/${this.$route.params.id}`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then(response => {
                    $('.card').loader('hide');
                    this.message = response.data.order[0];
                    this.message.wallet=localStorage.getItem('wallet')
                }).catch(error => {
                    $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong with currency!', type: 'error', position: 'top'});
                    }
                });
            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            }

        }
    }
</script>
