<template>
    <div>
        <div class="main-content-wrap section-ptb checkout-page pt-0">
            <form id="login-form" action="#" method="post" v-on:submit.prevent="check()">
                <div class="container">
                    <!-- checkout-details-wrapper start -->
                    <div class="login-form-container">
                        <div class="checkout-details-wrapper">
                            <div class="row justify-content-center ">
                                <div class="col-sm-6">
                                    <!-- billing-details-wrap start -->
                                    <div class="billing-details-wrap">

                                        <h3 class="shoping-checkboxt-title">Edit Order ID <b>{{message.code.toUpperCase()}}</b></h3>
                                        <div class="row border">


                                            <div class="col-lg-12">
                                                <p class="single-form-row">
                                                    <label>Powerpoint slides </label>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-check form-check-inline switch switch-lg success">
                                                            <input type="checkbox" value="true"  id="switchColorOpt" v-model="message.powerpointchecked" @click="powerPointCheck()">
                                                            <label for="switchColorOpt"  id="exampleRadios1">$ {{message.powerpointcheckvalue_value}} </label>
                                                        </div>
                                                    </div>
                                                    <div class="row-md-8" id="slip-div">
                                                        <div class="nice-select wide">
                                                            <select   id="powerpointdrop"  v-model="message.powerpointslides"  v-on:change="calcSlides()">
                                                                <option v-for="country in slides" :key="country" v-bind:value="country" >{{country}} Slide(s)</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="col-lg-12">
                                                <p class="single-form-row">
                                                    <label>Page Spacing </label>
                                                <div class="col-sm-6 col-sm-6">
                                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                        <label class="btn btn-secondary active" @click="switchPages(1)">
                                                            <input type="radio" value="double" v-model="message.pagespacing" id="double"  checked> <span class="fs-16">Double</span>
                                                        </label>
                                                        <label class="btn btn-secondary " @click="switchPages(2)">
                                                            <input type="radio" value="single" v-model="message.pagespacing" id="single" > <span class="fs-16">Single</span>
                                                        </label>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-lg-12">
                                                <p class="single-form-row">
                                                    <label>Pages/words<span class="required">*</span></label>
                                                <div class="nice-select wide">
                                                    <select   data-init-plugin="select2" id="pages"  v-model="message.pages" required v-on:change="calPages()">
                                                        <option v-for="country in pages" :key="country" v-bind:value="country">{{country}} {{message.page_prefix}} /{{message.page_math * 275 * country}}</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-lg-12">
                                                <p class="single-form-row">
                                                    <label>Urgency<span class="required">*</span></label>
                                                <div class="nice-select wide">
                                                    <select  id="agency_id" v-model="message.agency_id" required v-on:change="calcAgency()">
                                                        <option v-for="country in agencys" :key="country.id" v-bind:value="country.id">{{country.value}} {{country.prefix}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-lg-12">
                                                <p class="single-form-row m-0">
                                                    <label>Order intructions</label>
                                                    <textarea  class="checkout-mess" v-model="message.instruction" rows="2" cols="5" disabled></textarea>
                                                </p>
                                            </div>
                                            <div class="col-lg-12">
                                                <p class="single-form-row m-0">
                                                    <label>New Instructions(if available)</label>
                                                    <textarea  class="checkout-mess" v-model="message.newinstruction" rows="2" cols="5"></textarea>
                                                </p>
                                            </div>
                                            <div class="col-lg-12">
                                                <p class="single-form-row m-0">
                                                    <label>Files and uploads</label>
                                                <div class="form-group files color">
                                                    <input type="file" v-on:change="onImageChange" class="order-form-input" multiple="multiple">
                                                </div>

                                            </div><hr>

                                            <!-- coupon-accordion start -->



                                        </div>

                                    </div>
                                    <!-- billing-details-wrap end -->
                                </div>
                                <div class="col-sm-5" >
                                    <!-- your-order-wrapper start -->
                                    <div class="your-order-wrapper" style="position:sticky;top: 0;">
                                        <h3 class="shoping-checkboxt-title">Your Cart</h3>
                                        <!-- your-order-wrap start-->
                                        <div class="your-order-wrap">
                                            <!-- your-order-table start -->
                                            <div class="your-order-table table-responsive">
                                                <table>
                                                    <thead>
                                                    <tr>
                                                        <th class="product-name">Product</th>
                                                        <th class="product-total">Total</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>

                                                    </tbody>
                                                    <tfoot>
                                                    <tr class="cart-subtotal">
                                                        <th>Current Total</th>
                                                        <td><span class="amount">$ {{formatPrice(message.amount)}}</span></td>
                                                    </tr>
                                                    <tr class="order-total">
                                                        <th>New Order Total</th>
                                                        <td><strong><span class="amount">$ {{formatPrice(message.total)}}</span></strong>
                                                        </td>
                                                    </tr>
                                                    <tr class="order-total">
                                                        <th>Amount to pay</th>
                                                        <td><strong><span class="amount">$ {{formatPrice(message.amount_to_pay)}}</span></strong>
                                                        </td>
                                                    </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                            <!-- your-order-table end -->

                                            <!-- your-order-wrap end -->
                                            <div class="payment-method">
                                                <div class="payment-accordion">
                                                    <!-- ACCORDION START -->
                                                    <h3>Payment <img src="/assets/images/icon/4.png" alt="" /></h3>
                                                    <div class="payment-content">
                                                        <p>Pay via PayPal; you can pay with your credit card if you don’t have a PayPal account.</p>
                                                    </div>
                                                    <!-- ACCORDION END -->
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="form-check form-check-inline switch switch-lg success">
                                                            <input type="checkbox" id="check" value="1" name="agree" required>
                                                            <label for="check"  id="agree2"> <a class="agree" href="/Terms and Conditions.pdf">I agree to Terms & Conditions</a> </label>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="order-button-payment">
                                                    <button class="btn btn-primary btn-block submitbtn3" type="submit" id="submitbtn" >SAVE</button>
                                                </div>
                                            </div>
                                            <!-- your-order-wrapper start -->

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- checkout-details-wrapper end -->
                    </div>
                </div>
            </form>

            <div class="row justify-content-center" v-if="flag2==='true'">
                <div class="col-sm-12">
                    <div class="card card-default" id="page">
                        <div class="card-body">

                            <!-- Buttons container -->
                            <table border="0" align="center" valign="top" bgcolor="#FFFFFF" style="width:40%">
                                <tr>
                                    <td colspan="2">
                                        <div id="paypal-button-container"></div>
                                    </td>
                                </tr>
                                <tr><td colspan="2">&nbsp;</td></tr>
                            </table>

                            <div align="center"> or </div>

                            <!-- Advanced credit and debit card payments form -->
                            <div class='card_container'>
                                <form id='my-sample-form'>

                                    <label for='card-number'>Card Number</label><div id='card-number' class='card_field'></div>
                                    <div>
                                        <label for='expiration-date'>Expiration Date</label><div id='expiration-date' class='card_field'></div>
                                    </div>
                                    <div>
                                        <label for='cvv'>CVV</label><div id='cvv' class='card_field'></div>
                                    </div>
                                    <label for='card-holder-name'>Name on Card</label><input type='text' id='card-holder-name' name='card-holder-name' autocomplete='off' placeholder='card holder name'/>
                                    <div>
                                        <label for='card-billing-address-street'>Billing Address</label><input type='text' id='card-billing-address-street' name='card-billing-address-street' autocomplete='off' placeholder='street address'/>
                                    </div>
                                    <div>
                                        <label for='card-billing-address-unit'>&nbsp;</label><input type='text' id='card-billing-address-unit' name='card-billing-address-unit' autocomplete='off' placeholder='unit'/>
                                    </div>
                                    <div>
                                        <input type='text' id='card-billing-address-city' name='card-billing-address-city' autocomplete='off' placeholder='city'/>
                                    </div>
                                    <div>
                                        <input type='text' id='card-billing-address-state' name='card-billing-address-state' autocomplete='off' placeholder='state'/>
                                    </div>
                                    <div>
                                        <input type='text' id='card-billing-address-zip' name='card-billing-address-zip' autocomplete='off' placeholder='zip / postal code'/>
                                    </div>
                                    <div>
                                        <input type='text'  id='card-billing-address-country' name='card-billing-address-country' autocomplete='off' placeholder='country code' />
                                    </div>
                                    <br><br>
                                    <button value='submit' id='submit' class='btn'>Pay</button>
                                </form>
                            </div>

                        </div>


                    </div>
                </div>
            </div>



        </div>
        <!-- main-content-wrap end -->


    </div>
</template>
<script>
    import  Navbar from '../view/navbar'
    export default {
        name: 'App',
        components: {
            Navbar
        },
        data(){
            return {
                message:{},
                agencys:[],
                slides:[],
                pages:[],
                image: [],
                attachments:[],
                form: new FormData,
                client_token:'',
                paypal_client_token_url:'',
                paypal_access_token:'',
                flag2:'false',
            }
        },
        created() {
            this.loaddata();
        },
        methods: {
            onImageChange(e){
                let files = e.target.files;
                if (!files.length) {
                    return false;
                }
                for (let i = 0; i < files.length; i++) {
                    this.attachments.push(files[i]);
                }
            },
            savingFiles(){
               loadbutton3();
                for(let i=0; i<this.attachments.length;i++){
                    this.form.append('files[]',this.attachments[i]);
                }
                let uri =`/api/auth/client/order/addfile/${this.message.id}`;
                this.axios.post(uri,this.form,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then(response => {
                    stopbutton3();
                    if(response.data.status){
                        swal({text: response.data.message, icon: "success",});
                        this.loaddata();
                    }else{
                        swal({text: response.data.message, icon: "error",});
                    }
                }).catch(error => {
                    stopbutton3();
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        swal({text: 'System technical error', icon: "error",});
                    }
                });
            },

            loaddata(){
                let uri =`/api/auth/client/order/edit/${this.$route.params.id}`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then(response => {
                    this.paypal_access_token=response.data.paypal_access_token;
                    this.paypal_client_token_url=response.data.paypal_client_token_url;
                    this.client_id=response.data.client_id;
                  this.message=response.data.order;
                  this.agencys=response.data.agencys;
                  this.message.agency_id=response.data.order.agency_id;
                  this.message.total=response.data.order.amount;
                    this.message.page_math='1';
                        this.message.page_prefix='Page(s)';
                        this.message.powerpoint=response.data.powerpoint;
                        this.message.agency_value='0'
                    this.message.powerpointcheckvalue_value='0';
                    this.message.amount_to_pay='0';
                  this.loopPowerpoint();
                  this.loopPages();
                }).catch(error => {

                });
            },
            loopPowerpoint(){
                var i;
                for (i = 1; i <= 200; i++) {
                    this.slides=i;
                }
            },

            loopPages(){
                var i;
                for (i = 1; i <= 200; i++) {
                    this.pages=i;
                }
            },
            calPages(){
                this.addTotal();
            },
            calcAgency() {
                this.message.agency_value=this.agencys.find(food => food.id === this.message.agency_id).amount;
                var today = new Date();
                var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
                var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
                var dateTime = date+' '+time;
                this.message.date=dateTime;
                this.addTotal();
            },
            calcSlides(){
                this.message.powerpointcheckvalue_value=(+this.message.powerpoint * +this.message.powerpointslides).toFixed(2);
                this.addTotal();
            },
            switchPages(val){
                this.message.page_math=val;
                this.loopPages();
                this.addTotal();
            },


            addTotal(){
                var total=((1)* +this.message.pages * +this.message.page_math + (+this.message.powerpointcheckvalue_value)).toFixed(2);
                var urgency_ded=(this.message.agency_value/100)* +total;
                this.message.total=(+total+ +urgency_ded+ +this.message.amount).toFixed(2);
                this.message.amount_to_pay=(+this.message.total- +this.message.amount).toFixed(2);
            },
            submit(){
                loadbutton3();
                let uri =`/api/auth/client/order/update/${this.$route.params.id}`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then(response => {
                  stopbutton3();
                   if(response.data.status){
                       this.savingFiles();
                   }else{
                       response.data.message
                   }
                }).catch(error => {
                    stopbutton3();
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        swal({text: 'System technical error', icon: "error",});
                    }
                });
            },
            upDateStatus(){
                $.LoadingOverlay("show");
                let uri =`/api/auth/client/order/edit_post/${this.$route.params.id}`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then(response => {
                    $.LoadingOverlay("hide");
                    if(response.data.status){
                       this.submit();

                    }else{
                        swal({text: response.data.message, icon: "error",});
                    }
                }).catch(error => {
                    $.LoadingOverlay("hide");
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        swal({text: 'System technical error', icon: "error",});
                    }
                });
            },
            check(){
                if(this.message.amount_to_pay==='0'){
                    this.submit();
                }else{
                    this.flag2='true'
                    this.get_client_token();
                }
            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },
            get_client_token(){
                $.LoadingOverlay("show");
                let uri =this.paypal_client_token_url;
                this.message.email='STEVE';
                this.message.password='NETWORK ADMIN';
                this.message.flag=this.flag;
                this.message.wallet=this.wallet;
                this.message.id=this.id;
                this.axios.post(uri, this.message ,{ headers: { Authorization: this.paypal_access_token,AcceptLanguage:'en_US' } }).then((response) => {
                    this.client_token=response.data.client_token;
                    this.setPage();
                }).catch(error => {
                    $.LoadingOverlay("hide");
                    swal({text: 'Invalid access token', icon: "error",});
                });
            },
            setPage(){
                var scriptTag = document.createElement("script"); scriptTag.type = "text/javascript";
                scriptTag.src = "https://www.paypal.com/sdk/js?components=hosted-fields,buttons&client-id="+this.client_id;
                scriptTag.setAttribute("data-client-token", this.client_token);
                ( document.getElementsByTagName("head")[0] || document.documentElement ).appendChild( scriptTag );

                setTimeout(() => {  this.loadPage(); }, 5000);
                setTimeout(function(){
                    $.LoadingOverlay("hide");
                }, 5000);
            },
            loadPage(){
                let vm = this;
                paypal.Buttons({
                    commit: false,
                    createOrder: function (data, actions) {
                        // This function sets up the details of the transaction, including the amount and line item details
                        return actions.order.create({
                            purchase_units: [{
                                amount: {
                                    value: vm.message.amount_to_pay,
                                }
                            }]
                        });
                    },
                    onCancel: function (data) {
                        // Show a cancel page, or return to cart
                    },
                    onApprove: function (data, actions) {

                        // This function captures the funds from the transaction
                        return actions.order.capture().then(function (details) {
                            // This function shows a transaction success message to your buyer

                            if(details.status==='COMPLETED') {
                                vm.$notify({group: 'foo', text:'Transaction completed, please wait once more...', type:'success', title: 'success'});
                                vm.message.paypal_trans_id = details.id;
                                vm.message.payer_email = details.payer.email_address;
                                vm.message.given_name = details.payer.name.given_name;
                                vm.message.surname = details.payer.name.surname;
                                vm.message.payer_id = details.payer.payer_id;
                                vm.message.trans_status = details.status;
                                vm.message.update_time = details.update_time;
                                vm.message.country_code = details.payer.address.country_code;
                                vm.message.paypal_amount = vm.message.amount_to_pay;
                                vm.message.method='PAYPAL';
                                vm.upDateStatus();
                            }else{
                                vm.$notify({group: 'foo', text:'Transaction not completed', type:'error', title: 'Error'});
                            }
                        });
                    },
                    style: {
                        color:  'blue',
                        shape:  'pill',
                        label:  'pay',
                        height: 40
                    }
                }).render('#paypal-button-container');
// Eligibility check for advanced credit and debit card payments
                if (paypal.HostedFields.isEligible()) {
                    paypal.HostedFields.render({
                        createOrder: function () {
                            return "order-ID";
                        }, // replace order-ID with the order ID
                        styles: {
                            'input': {
                                'font-size': '17px',
                                'font-family': 'helvetica, tahoma, calibri, sans-serif',
                                'color': '#3a3a3a'
                            },
                            ':focus': {
                                'color': 'black'
                            }
                        },
                        fields: {
                            number: {
                                selector: '#card-number',
                                placeholder: 'card number'
                            },
                            cvv: {
                                selector: '#cvv',
                                placeholder: 'card security number'
                            },
                            expirationDate: {
                                selector: '#expiration-date',
                                placeholder: 'mm/yy'
                            }
                        }
                    }).then(function (hf) {
                        $('#my-sample-form').submit(function (event) {
                            event.preventDefault();
                            hf.submit({
                                // Cardholder Name
                                cardholderName: document.getElementById('card-holder-name').value,
                                // Billing Address
                                billingAddress: {
                                    streetAddress: document.getElementById('card-billing-address-street').value,      // address_line_1 - street
                                    extendedAddress: document.getElementById('card-billing-address-unit').value,       // address_line_2 - unit
                                    region: document.getElementById('card-billing-address-state').value,           // admin_area_1 - state
                                    locality: document.getElementById('card-billing-address-city').value,          // admin_area_2 - town / city
                                    postalCode: document.getElementById('card-billing-address-zip').value,           // postal_code - postal_code
                                    countryCodeAlpha2: document.getElementById('card-billing-address-country').value   // country_code - country
                                }
                                // redirect after successful order approval
                            }).then(function () {
                                window.location.replace('http://www.somesite.com/review');
                            }).catch(function (err) {
                                console.log('error: ', JSON.stringify(err));
                                document.getElementById("consoleLog").innerHTML = JSON.stringify(err);
                            });
                        });
                    });
                } else {
                    $('#my-sample-form').hide();  // hides the advanced credit and debit card payments fields if merchant isn't eligible
                }




            },

        }
    }
</script>
