<template>
    <div>
      <br/>
      <br/>
      <br/>
        <form class="php-email-form"  method="post" v-on:submit.prevent="submit()">
        <div class="row justify-content-center mt-5">
            <div class="col-sm-6">

                <div class="container center mb-5 mr-0">
                    <div class="card">
                        <h6>Ordering</h6>
                        <hr/>
                        <div class="container mt-3">

                                <div class="form-group mb-2">
                                        <label>Order Title<span class="required text-danger">*</span></label>
                                        <input type="text" class="form-control" name="email" v-model="message.title" >
                                </div>
                                <div class="form-group mb-2">
                                    <label>Type of service <span class="required text-danger">*</span></label>
                                    <select class="form-control" id="typeofservice_id" v-model="message.typeofservice_id" required  v-on:change="loadAcademics()">
                                        <option v-for="country in services" :key="country.id" v-bind:value="country.id" >{{country.name}}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group mb-2">
                                    <label>Subject area <span class="required text-danger">*</span></label>
                                    <select class="form-control"  id="subject_id" v-model="message.subject_id"  v-on:change="subjectarea()">
                                        <option v-for="country in subjects" :key="country.id" v-bind:value="country.id" >{{country.name}}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group mb-2">
                                    <label>Academic level <span class="required text-danger">*</span></label>
                                    <select  class="form-control" id="academic_id" v-model="message.academic_id" required v-on:change="academicsval()">
                                        <option v-for="country in academics" :key="country.id" v-bind:value="country.id" >{{country.name}}
                                        </option>
                                    </select>
                                </div>

                                <div class="form-group mb-2">
                                        <label>Type of paper <span class="required text-danger">*</span></label>
                                            <select class="form-control"  id="typeofpaper_id" v-model="message.typeofpaper_id" required v-on:change="typeofpaper()">
                                                <option v-for="country in papers" :key="country.id" v-bind:value="country.id" >{{country.name}}
                                                </option>
                                            </select>
                                </div>

                                <div class="form-group mb-2">
                                        <label>Powerpoint slides </label>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <input  type="checkbox" value="true"  id="switchColorOpt" v-model="message.powerpointchecked" @click="powerPointCheck()">
                                                <label for="switchColorOpt"  id="exampleRadios1">$ {{message.powerpointcheckvalue_value}} </label>
                                            </div>
                                        </div>
                                    <div class="col-sm-8">
                                            <div class="form-group">
                                                <select class="form-control"  id="powerpointdrop"  v-model="message.powerpointslides"  v-on:change="calcSlides()">
                                                    <option v-for="country in slides" :key="country" v-bind:value="country" >{{country}} Slide(s)</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                </div>


                                <div class="col-lg-12 mb-2">
                                        <label>Style</label>
                                    <div class="col-sm-12 col-sm-12">
                                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                            <label class="btn btn-secondary active" @click="SwichStyle('APA')">
                                                <input type="radio" value="APA"  style="display: none;" v-model="message.style" id="APA" checked> <span class="fs-16">APA</span>
                                            </label>
                                            <label class="btn btn-secondary" @click="SwichStyle('MLA')">
                                                <input type="radio" value="MLA" checked style="display: none;" v-model="message.style" id="MLA"> <span class="fs-16">MLA</span>
                                            </label>
                                            <label class="btn btn-secondary" @click="SwichStyle('Havard')">
                                                <input type="radio" name="style" checked style="display: none;" v-model="message.style" id="Havard"> <span class="fs-16">Havard</span>
                                            </label>
                                            <label class="btn btn-secondary" @click="SwichStyle('Chicago')">
                                                <input type="radio" name="style" checked style="display: none;" v-model="message.style" id="Chicago"> <span class="fs-16">Chicago</span>
                                            </label>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-sm-12 col-sm-12 mb-2">
                                    <label>Page spacing</label>
                                    <div class="col-sm-12 col-sm-12">
                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-secondary active" @click="switchPages(1,'double')">
                                            <input type="radio" value="double" checked style="display: none;" v-model="message.pagespacing" id="double"  checked> <span class="fs-16">Double</span>
                                        </label>
                                        <label class="btn btn-secondary " @click="switchPages(2,'single')">
                                            <input type="radio" value="single" checked style="display: none;" v-model="message.pagespacing" id="single" > <span class="fs-16">Single</span>
                                        </label>
                                    </div>
                                    </div>
                                </div>

                                <div class="form-group mb-2">
                                    <label>Pages/words</label>
                                    <select  class="form-control"  data-init-plugin="select2" id="pages"  v-model="message.pages" required v-on:change="calPages()">
                                        <option v-for="country in pages" :key="country" v-bind:value="country">{{country}} {{message.page_prefix}} /{{message.page_math * 275 * country}}</option>
                                    </select>
                                </div>

                                <div  class="form-group mb-3">
                                    <label>Urgency</label>
                                    <select  class="form-control"  id="agency_id" v-model="message.agency_id" required v-on:change="calcAgency()">
                                        <option v-for="country in agencys" :key="country.id" v-bind:value="country.id">{{country.value}} {{country.prefix}}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group mb-2">
                                        <label>Sources/reference </label>
                                        <input  class="form-control" type="text"  id="sources"   v-model="message.sources">
                                </div>
                                <div class="col-lg-12">
                                        <label>English format</label>
                                    <div class="col-sm-6 col-sm-6">
                                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                            <label class="btn btn-secondary active" @click="switchFormat(0,'US')">
                                                <input type="radio" value="us" checked style="display: none;" v-model="message.writer" id="us"  checked> <span class="fs-16">US</span>
                                            </label>
                                            <label class="btn btn-secondary " @click="switchFormat(10,'UK')">
                                                <input type="radio" value="uk" checked style="display: none;" v-model="message.writer" id="uk" > <span class="fs-16">UK</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mb-2">
                                        <label>Preferred writer <span class="required"></span></label>
                                        <input class="form-control" type="text"  id="input-payment-company" v-model="message.prefered_id">
                                </div>

                                <div class="form-group mb-2">
                                        <label>Referal Code <span class="required"></span></label>
                                        <input  class="form-control text-danger" type="text" placeholder="Enter your referer code if available"  id="promo_code" v-model="message.promo_code">
                                </div>
                                <div class="form-group mb-2">
                                        <label>Order Instructions</label>
                                        <textarea   class="form-control" v-model="message.instruction" rows="2" cols="5"></textarea>
                                </div>
                                <div class="form-group mb-2">
                                        <label>Login & links (optional)</label>
                                        <textarea  class="form-control" placeholder="These details will not be shared to any unauthorised persons" v-model="message.logins" rows="2" cols="5"></textarea>
                                </div>
                                <div class="col-lg-12 mb-1">
                                        <label>Files and uploads</label>
                                    <div class="form-group files color">
                                        <input type="file" id="files" v-on:change="onImageChange" class="order-form-input" multiple="multiple">
                                    </div>

                                </div>
                                <div class="col-lg-12 border mb-3">
                                    <tbody>
                                    <tr v-for="post in attachments" :key="post.id">
                                        <td class="text-primary">{{post.name}}</td>
                                        <td ><a class="fa fa-trash ml-5 text-danger" @click="removeItem(post.name)"></a></td>
                                    </tr>
                                    </tbody>
                                </div>

                                <p class="mb-2">
                                    <button class="btn btn-outline-info btn-block" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                        Want to improve? Click here to improve your grades <i class="ml-3 fa fa-arrow-circle-down"></i>
                                    </button>
                                </p>
                                <div class="collapse" id="collapseExample">
                                    <div class="">

                                        <div class="col-lg-12 mb-3">
                                            <div class="col-md-10">
                                                <table class="table table-condensed">
                                                    <tr v-for="post in additionals" :key="post.id">
                                                        <td class=" col-md-10">
                                                            <input type="checkbox" :id="post.id"  v-bind="message.additional_id"   @change="calAdditional(post.id,post.amount)">
                                                            <label class="form-check-label" for="">{{post.name}}</label>
                                                        </td>
                                                        <td class=" col-md-2 text-right">
                                                            <span>$  {{post.amount}}</span>
                                                        </td>
                                                    </tr>

                                                    <tr v-for="post in additionals2" :key="post.id">
                                                        <td class=" col-md-10">
                                                            <input type="checkbox" :id="post.id"  v-bind="message.additional_id"   @change="calAdditional(post.id,post.amount * message.pages)">
                                                            <label  >{{post.name}}</label>
                                                        </td>
                                                        <td class=" col-md-2 text-right">
                                                            <span>$  {{post.amount}}</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="col-md-10">

                                                        </td>
                                                        <td class="col-md-2 text-right">
                                                            <span id="add_id" class="float-right text-warning"><b>$ {{message.additonal_value}}</b></span>
                                                        </td>
                                                    </tr>
                                                </table>


                                                <div class="col-lg-12">
                                                    <label>Quality Level</label>
                                                    <div class="col-sm-12">
                                                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                            <label class="btn btn-secondary active"  @click="level(0,'Standard')">
                                                                <input type="radio" style="display: none;" value="APA" v-model="message.writerlevel_id" id="APA2" > <span class="fs-16">Standard</span>
                                                            </label>
                                                            <label class="btn btn-secondary" @click="level(6,'Premium')">
                                                                <input type="radio" style="display: none;" value="MLA" v-model="message.writerlevel_id" id="MLA2" > <span class="fs-16">Premium</span>
                                                            </label>
                                                            <label class="btn btn-secondary"  @click="level(10,'Platinum')">
                                                                <input type="radio" name="style" style="display: none;" v-model="message.writerlevel_id" id="Havard2"> <span class="fs-16">Platinum</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div v-if="message.auth!=='yes'" class="mb-3 auth">
                                    <div class="col-lg-12 justify-content-center mb-3">
                                        <p class="single-form-row">
                                            <label>Authentication</label>
                                        <div class="col-sm-6 col-sm-6" >
                                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                <label class="btn btn-secondary active" @click="changekUserType('old')">
                                                    <input type="radio" style="display: none;" value="existing" v-model="message.writer" id="exist"  checked> <span class="fs-16">Existing Client</span>
                                                </label>
                                                <label class="btn btn-secondary " @click="changekUserType('new')">
                                                    <input type="radio" style="display: none;" value="new" v-model="message.writer" id="new" > <span class="fs-16">New Client</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- coupon-accordion end -->
                                    <div class="col-lg-12" v-if="message.user_type==='old'">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                    <label>Email <span class="required text-danger">*</span></label>
                                                    <input type="text" class="form-control" name="First name" v-model="message.email" required>
                                            </div>
                                            <div class="col-lg-6">
                                                    <label>Password <span class="required text-danger">*</span></label>
                                                    <input type="password" class="form-control" name="First name" v-model="message.password" required>
                                            </div>

                                            <div class="row mt-5">
                                                <a class="text-info" v-on:click="changekUserType('email')">Forgot password? click here</a>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-lg-12" v-if="message.user_type==='new'">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                    <label>Email <span class="required text-danger">*</span></label>
                                                    <input type="text" class="form-control" name="First name" v-model="message.email" required>
                                            </div>
                                            <div class="col-lg-6">
                                                    <label>Name <span class="required text-danger">*</span></label>
                                                    <input type="text" class="form-control" name="First name" v-model="message.name" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                    <label>Phone <span class="required"></span></label>
                                                    <vue-tel-input v-model="message.phone" v-bind="bindProps"></vue-tel-input>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                    <label>Password <span class="required">*</span></label>
                                                    <input type="password" class="form-control" name="First name" v-model="message.password" required>
                                            </div>
                                            <div class="col-lg-6">
                                                    <label>Confirm password <span class="required">*</span></label>
                                                    <input type="password" class="form-control" name="First name" v-model="message.repass">
                                            </div>

                                        </div>

                                    </div>


                                    <div class="col-lg-12" v-if="message.user_type==='email'">
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <input type="text" placeholder="Enter your email address" class="form-control" name="First name" v-model="message2.user_id" required>
                                            </div>
                                            <div class="col-sm-4">
                                                <button class="btn btn-info btn-block" v-on:click="getOtp()"  >Get OTP</button>
                                            </div>

                                        </div>

                                    </div>
                                    <div class="col-lg-12" v-if="message.user_type==='code'">
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <input type="text" placeholder="Enter code sent to your email address" class="form-control" name="First name" v-model="message2.code" required>
                                            </div>
                                            <div class="col-sm-4">
                                                <button class="btn btn-info btn-block" v-on:click="verifyCode()"  >Verify Code</button>
                                            </div>

                                        </div>

                                    </div>
                                    <div class="col-lg-12" v-if="message.user_type==='password'">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <input type="password" placeholder="New password" class="form-control" name="First name" v-model="message2.password" required>
                                            </div>
                                            <div class="col-sm-4">
                                                <input type="password" placeholder="Confirm password" class="form-control" name="First name" v-model="message2.repass" required>
                                            </div>
                                            <div class="col-sm-4">
                                                <button class="btn btn-info btn-block" v-on:click="setPassword()"  >Update</button>
                                            </div>

                                        </div>

                                    </div>

                                </div>


                        </div>
                    </div>
                </div>

            </div>


            <div class="col-sm-4 ml-0 mb-3">
            <div class="container center" style="position:sticky;top: 0;">
                <div class="card">
                    <h6>Your cart <i class="fa fa-shopping-cart"></i></h6>
                    <hr/>
                    <div class="container mt-3">
                        <p class=" title" style="font-size: 12px;">Pay via PayPal; you can pay with your credit card if you don’t have a PayPal account.</p>
                        <div class="php-email-form">

                            <div class=" ">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th class="product-name">Product</th>
                                        <th class="product-total">Total</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="cart_item">

                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr class="cart-subtotal">
                                        <th>Total <del>{{message.discount}} % off</del></th>
                                        <td><span class="amount"><del>$ {{formatPrice(message.total)}}</del></span></td>
                                    </tr>
                                    <tr class="order-total">
                                        <th>Amount to pay</th>
                                        <td><strong><span class="amount text-success">{{prefix}} {{formatPrice(amount_to_pay)}}</span></strong>
                                        </td>
                                    </tr>

                                    <tr>


                                    </tr>

                                    </tfoot>
                                </table>
                                <div class="col-lg-12">
                                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                            <label class="btn btn-secondary active" @click="convertCurrency('$',rates.USD)">
                                                <input type="radio"  id="USD" style="display: none;" checked> <span class="fs-16">USD</span>
                                            </label>
                                            <label class="btn btn-secondary " style="display: none;" @click="convertCurrency('€',rates.EUR)">
                                                <input type="radio"   id="EUR" style="display: none;"> <span class="fs-16">EUR</span>
                                            </label>
                                            <label class="btn btn-secondary " @click="convertCurrency('£',rates.GBP)">
                                                <input type="radio"   id="GBP" style="display: none;"> <span class="fs-16">GBP</span>
                                            </label>
                                            <label class="btn btn-secondary " @click="convertCurrency('A$',rates.AUD)">
                                                <input type="radio"   id="AUD" style="display: none;"> <span class="fs-16">AUD</span>
                                            </label>
                                            <label class="btn btn-secondary "  @click="convertCurrency('C$',rates.CAD)">
                                                <input type="radio"   id="CAD" style="display: none;"> <span class="fs-16">CAD</span>
                                            </label>
                                        </div>

                                </div>


                                <div class=" mt-3 justify-content-center text-center">
                                        <!-- ACCORDION START -->
                                      <img src="/assets/img/1.png" alt="" style="width: 50%;"/>


                                        <!-- ACCORDION END -->
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-check form-check-inline switch switch-lg success">
                                                <input type="checkbox" id="check" value="1" name="agree" required>
                                                <label for="check"  id="agree2"> <a class="agree" href="/Terms and Conditions.pdf">I agree to Terms & Conditions</a> </label>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <button class="btn btn-info btn-block" type="submit" id="submitbtn" >Checkout</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </form>
    </div>
</template>
<script>
    import  Navbar from '../view/navbar'
    export default {
        name: 'App',
        components: {
            Navbar
        },
        data(){
            return {
                currency_url: process.env.MIX_CURRENCY_URL,
                proxyUrl: process.env.MIX_APP_URL,
                bindProps: {
                    mode: "international",
                    disabledFetchingCountry: false,
                    disabled: false,
                    disabledFormatting: false,
                    placeholder: "Enter a phone number",
                    required: true,
                    enabledCountryCode: true,
                    enabledFlags: true,
                    maxLen: 25,
                    wrapperClasses: "",
                    inputClasses: "",
                    dropdownOptions: {
                        disabledDialCode: false
                    },
                    inputOptions: {
                        showDialCode: true
                    }
                },
                message:{
                    academics_value:'0',
                    paper_value:'0',
                    total:'0',
                    amount:'0',
                    writer:'US',
                    subject_value:'0',
                    powerpoint:'0',
                    powerpointcheckvalue_value:'0',
                    powerpointchecked:false,
                    pages_value:'0',
                    pages:1,
                    powerpointslides:1,
                    page_prefix:'Page(s)',
                    agency:'0',
                    agency_value:'0',
                    page_math:'1',
                    format:'0',
                    additional_id:[],
                    additonal_value:'0',
                    writer_level:'0',
                    writerlevel_val:'0',
                    user_type:'old',
                    pagespacing:'double',
                    order_id:'',
                    style:'APA',
                    writerlevel_id:'Standard',
                    auth:localStorage.getItem('auth'),
                },
                services:[],
                papers:[],
                academics:[],
                subjects:[],
                agencys:[],
                slides:[],
                pages:[],
                additionals:[],
                additionals_amount:[],
                additionals2:[],
                image: [],
                attachments:[],
                form: new FormData,
                rates:{},
                amount_to_pay:'0',
                prefix:'$',
                exchange:'1',
                loader:'false',
                message2:{},
            }
        },
        created() {
            this.getRefCode();
            setTimeout(() => {
                this.loaddata();
            }, 1000);
            this.loadCurrency();
        },
        methods: {
            getRefCode(){
             this.message.promo_code=this.$route.query.name;
            },
            getOtp() {
                $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/getOtp`;
                this.axios.post(uri, this.message2).then((response) => {
                    $('.card').loader('hide');
                    if(response.data.status){
                        this.message2.email=this.message2.user_id;
                        this.message.user_type='code';
                        this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                    }else{
                        this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                    }
                }).catch(error => {
                    $('.card').loader('hide');
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                });

            },
            verifyCode() {
                $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/verify`;
                this.axios.post(uri, this.message2).then((response) => {
                    $('.card').loader('hide');
                    if(response.data.status){
                        this.message.user_type='password';
                        this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                    }else{
                        this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                    }
                }).catch(error => {
                    $('.card').loader('hide');
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                });

            },
            setPassword() {
                $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/resetpassword`;
                this.axios.post(uri, this.message2).then((response) => {
                    $('.card').loader('hide');
                    if(response.data.status){
                        this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                        localStorage.setItem('token', response.data.access_token);
                        localStorage.setItem('name', response.data.user.name);
                        localStorage.setItem('wallet', response.data.wallet);
                        localStorage.setItem('auth', 'yes');
                        this.message.auth='yes';
                    }else{
                        this.$toast.open({message: response.data.message, type: 'error', position: 'top'});

                    }
                }).catch(error => {
                    $('.card').loader('hide');
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                });

            },
            loadCurrency(){
                this.axios.get(this.currency_url).then(response => {
                    this.rates=response.data.rates;
                }).catch(error => {
                    this.$toast.open({message: 'Something went wrong with currency!', type: 'error', position: 'top'});
                });
            },
            convertCurrency(prefix,amount){
                this.prefix=prefix;
                this.exchange=amount;
                  this.amount_to_pay=+this.message.amount * +amount;
            },
            onImageChange(e){
                let files = e.target.files;
                if (!files.length) {
                    return false;
                }
                for (let i = 0; i < files.length; i++) {
                    this.attachments.push(files[i]);
                }
            },
            removeItem(name){
                this.attachments.splice(this.attachments.indexOf(name), 1);
            },
            savingFiles(){
                $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                for(let i=0; i<this.attachments.length;i++){
                    this.form.append('files[]',this.attachments[i]);
                }
                let uri =this.proxyUrl+`api/auth/client/order/addfile/${this.message.order_id}`;
                this.axios.post(uri,this.form,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then(response => {
                    $('.card').loader('hide');
                    if(response.data.status){
                        this.$router.push({name: 'confirm',params: { id: this.message.order_id }});
                    }else{
                        this.$notify({group: 'foo', text:response.data.message , type:'error', title: 'error'});
                    }
                }).catch(error => {
                    $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });
            },
            submit(){
                $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri=this.proxyUrl+'api/auth/client/postorder';
                if(this.message.auth==='yes'){
                     uri = this.proxyUrl+`api/auth/client/postorderAuth`;
                }else {
                     uri = this.proxyUrl+`api/auth/client/postorder`;
                }
                this.axios.post(uri, this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then((response) => {
                    $('.card').loader('hide');
                    if(response.data.status){
                        localStorage.setItem('token', response.data.access_token);
                        localStorage.setItem('name', response.data.user.name);
                        localStorage.setItem('wallet', response.data.wallet);
                        localStorage.setItem('auth', 'yes');
                        this.message.order_id=response.data.order_id;
                        this.savingFiles();
                    }else{
                        this.$notify({group: 'foo', text:response.data.message , type:'error', title: 'error'});
                    }
                }).catch(error => {
                    $('.card').loader('hide');
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                });
            },
            changekUserType(type){
               this.message.user_type=type;
            },
            loaddata(){
                $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/client/order`;
                this.axios.get(uri).then(response => {
                    this.message.discount=response.data.discount;
                    this.services=response.data.services;
                    this.papers=response.data.paper;
                    this.subjects=response.data.subjects;
                    this.agencys=response.data.agencys;
                    this.academics=response.data.academics;
                    this.message.typeofservice_id =1;
                    this.message.academic_id =1;
                    this.message.typeofpaper_id=1;
                    this.message.agency_id=response.data.agency_id.id;
                    this.message.powerpoint=response.data.powerpoint;
                    this.additionals=response.data.additionals;
                    this.additionals2=response.data.additionals2;

                    this.typeofservice();
                    this.academicsval();
                    this.typeofpaper();
                    this.loopPages();
                    this.calcAgency();
                    $('.card').loader('hide');
                }).catch(error => {
                    $('.card').loader('hide');
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                });
            },
            loadAcademics(){
                this.loader='true';
                let uri =this.proxyUrl+`api/auth/client/loadAcademics`;
                var name=this.services.find(food => food.id === this.message.typeofservice_id).name;
                this.message.name=name;
                this.axios.post(uri,this.message).then(response => {
                    this.loader='false';
                    this.academics=response.data.academic;
                    if(response.data.dis==='no'){
                        this.message.academic_id =response.data.academic_id;
                    }else{
                        this.message.academic_id =response.data.academic_id.id;
                        this.papers=response.data.paper;
                        this.message.typeofpaper_id=response.data.paper_id.id;
                    }
                    if(response.data.question==='yes'){
                        this.message.page_prefix='Question(s)'
                    }else{
                        this.message.page_prefix='Page(s)'
                    }
                    this.agencys=response.data.agency;
                     this.message.agency_id=response.data.agency_id.id;

                    this.typeofservice();
                    this.academicsval();
                    this.typeofpaper();
                    this.calcAgency();

                }).catch(error => {
                    this.loader='false';
                });
            },
            calAdditional(val,amount){
                if(document.getElementById(val).checked) {
                    this.message.additional_id.push(val);
                    this.additionals_amount.push(amount);
                    this.message.additonal_value=this.additionals_amount.reduce((acc, item) => +acc + +item, 0);
                }else{
                     this.message.additional_id.splice(this.message.additional_id.indexOf(val), 1);
                    this.additionals_amount.splice(this.additionals_amount.indexOf(amount), 1);
                    this.message.additonal_value=this.additionals_amount.reduce((acc, item) => +acc + +item, 0);
                }
               this.addTotal();
            },
            typeofservice(){
                this.message.service_value=this.services.find(food => food.id === this.message.typeofservice_id).amount;
                this.addTotal();
            },
            academicsval(){
                this.message.academics_value=this.academics.find(food => food.id === this.message.academic_id).amount;
                this.addTotal();
            },
            typeofpaper(){
                this.message.paper_value=this.papers.find(food => food.id === this.message.typeofpaper_id).amount;
                this.addTotal();
            },
            subjectarea(){
                this.message.subject_value=this.subjects.find(food => food.id === this.message.subject_id).amount;
                this.addTotal();
            },
            powerPointCheck(){
                if(this.message.powerpointchecked===false){
                    this.message.powerpointcheckvalue_value=this.message.powerpoint;
                    var i;
                    for (i = 1; i <= 200; i++) {
                        this.slides=i;
                    }
                }else{
                    this.message.powerpointcheckvalue_value='0';
                    this.slides=[];
                }
                this.addTotal();
            },
            loopPages(){
                var i;
                for (i = 1; i <= 200; i++) {
                    this.pages=i;
                }
            },
            calPages(){
                this.addTotal();
            },
            calcAgency() {
                this.message.agency_value=this.agencys.find(food => food.id === this.message.agency_id).amount;
                var today = new Date();
                var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
                var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
                var dateTime = date+' '+time;
                this.message.date=dateTime;
                this.addTotal();
            },
            calcSlides(){
                this.message.powerpointcheckvalue_value=(+this.message.powerpoint * +this.message.powerpointslides).toFixed(2);
                this.addTotal();
            },
            switchPages(val,pagespacing){
                this.message.pagespacing=pagespacing;
              this.message.page_math=val;
              this.loopPages();
              this.addTotal();
            },
            switchFormat(val,writer){
                this.message.writer=writer;
                this.message.format=val;
                this.addTotal();
            },
            level(val,writerlevel_id){
                this.message.writerlevel_id=writerlevel_id;
                this.message.writerlevel_val=val;
                this.addTotal();
            },
            switchlevel(val){
                this.message.writer_level=val;
                this.addTotal();
            },
            addTotal(){
                var total=((+this.message.service_value+ +this.message.academics_value + +this.message.paper_value+
                    +this.message.subject_value)* +this.message.pages * +this.message.page_math + (+this.message.powerpointcheckvalue_value+
                    +this.message.format+ +this.message.additonal_value+ +this.message.writer_level+ +this.message.writerlevel_val)).toFixed(2);
                var urgency_ded=(this.message.agency_value/100)* +total;
                this.message.total=(+total+ +urgency_ded).toFixed(2);
                var discount=(+this.message.discount/100)* +this.message.total;
                this.message.amount=(+this.message.total- +discount).toFixed(2);
                this.amount_to_pay=this.message.amount;
                 this.convertCurrency(this.prefix,this.exchange);
            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },
            SwichStyle(style){
                this.message.style=style;
            }

        }
    }
</script>
