<template>
    <div class="mb-5 container">
        <br/>
        <br/>
        <br/>
        <br/>
        <Navbar></Navbar>
        <div class="content">
            <div class="container ">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <router-link :to="{ name: 'pending' }" class="nav-link active" href="#">Pending</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link :to="{ name: 'inprogress' }" class="nav-link" href="#">Inprogress</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link class="nav-link" :to="{ name: 'revised' }" href="#">Revision</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link class="nav-link" :to="{ name: 'completed' }" href="#">Completed</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link class="nav-link" :to="{ name: 'onhold' }" href="#">Onhold</router-link>
                    </li>
                </ul>

                <div class="row justify-content-center">

                    <div class="col-sm-12">
                        <div class="table-responsive">
                        <table class="table table-bordered mt-3">
                            <thead>
                            <tr>
                                <th >#</th>
                                <th >Order ID</th>
                                <th>Title</th>
                                <th >Deadline</th>
                                <th >Amount</th>
                                <th >View</th>
                                <th >Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(post,index) in message" :key="post.id">
                                <th >{{index+1}}</th>
                                <th >{{post.code.toUpperCase()}}</th>
                                <td>{{post.title}}</td>
                                <td>{{post.deadline}}</td>
                                <td>$ {{formatPrice(post.amount)}}</td>
                                <td>  <router-link :to="{name: 'detail', params: { id: post.id }}" ><i title="View order" data-id="100" class="fa fa-eye text-primary"></i></router-link></td>
                                <td>  <a  v-on:click="changeAdsStatus(post.id,'DELETED')"><i title="Delete order" data-id="100" class="fa fa-trash text-danger"></i></a></td>
                            </tr>

                            </tbody>
                        </table>
                        </div>

                    </div>
                </div>
            </div>

        </div>

        <div class="modal fade confirm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog ">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title mt-0" id="myLargeModalLabel2">Confirm</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to change this order status to <span class="text-danger">{{this.message2.status}}</span> ?</p>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" v-on:click="updateAdsStatus()">Submit</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

    </div>
</template>
<script>
    import  Navbar from '../view/navbar'
    export default {
        name: 'App',
        components: {
            Navbar
        },
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:[],
                message2:{status:''},
                id:''
            }
        },
        created() {
            this.loaddata();
        },
        methods: {
            changeAdsStatus(id,status){
                this.message2.id=id;
                this.message2.status=status;
                $(".confirm").modal("show");
            },
            updateAdsStatus(){
                $('.modal-content').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/updateAdsStatus`;
                this.axios.post(uri,this.message2,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.modal-content').loader('hide');
                    if(response.data.status){
                        this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                        this.loaddata();
                        $(".confirm").modal("hide");
                    }
                }).catch(error => {
                    $('.modal-content').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }

                });
            },
            loaddata(){
                let uri =this.proxyUrl+`api/auth/client/orders`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then(response => {
                    this.message = response.data.orders;
                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                    }else{
                        this.$notify({group: 'foo', text:'We are not able to complete your request', type:'error', title: 'Error'});
                    }
                });
            },
            confirm(id){
                this.id=id;
                $("#confirm").modal("show");
            },
            remove(){
                $("#confirm").modal("hide");

                let uri =this.proxyUrl+`api/auth/client/order/delete/`+this.id;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then(response => {

                    swal({text: response.data.message, icon: "success",});
                    this.loaddata();
                }).catch(error => {

                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$notify({group: 'foo', text:'We are not able to complete your request', type:'error', title: 'Error'});
                    }
                });
            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            }

        }
    }
</script>
