<template>
    <div class="mb-5 container">
        <br/>
        <br/>
        <br/>
        <br/>
        <Navbar></Navbar>
        <div class="content">
            <div class="container ">
                <div class="row justify-content-center">
                    <p>My Refunds</p>
                    <div class="col-sm-12">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th >Order ID</th>
                                <th>Amount</th>
                                <th >Status</th>
                                <th >Reason</th>
                                <th >Comment</th>
                                <th >Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="post in message" :key="post.id">
                                <th >{{post.code.toUpperCase()}}</th>
                                <td>$ {{formatPrice(post.amount)}}</td>
                                <td class="text-info" v-if="post.status==='pending'">{{post.status}}</td>
                                <td class="text-success" v-else-if="post.status==='approved'">{{post.status}}</td>
                                <td class="text-danger" v-else>{{post.status}}</td>
                                <td > {{post.reason}}</td>
                                <td>{{post.comment}}</td>
                                <td>{{post.updated_at}}</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>
<script>
    import  Navbar from '../view/navbar'
    export default {
        name: 'App',
        components: {
            Navbar
        },
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:[],
            }
        },
        created() {
            this.loaddata();
        },
        methods: {
            loaddata(){
                let uri =this.proxyUrl+`api/auth/client/fund/refunds`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then(response => {
                    this.message = response.data.refunds;
                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });
            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            }

        }
    }
</script>
